<div class="row wrapper white-bg page-heading border-bottom">
    <div class="col-lg-10">
        <h2>Reporte de Sobres</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['']">Home</a>
            </li>
            <li class="breadcrumb-item">Sobres</li>
            <li class="breadcrumb-item active">Listado de Sobres Asignados</li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default panel-body no-padding">
            <div class="panel-heading" (click)="colapsarTab()">
                <h5 class="panel-title">
                    <a data-toggle="collapse" title="Consultar" data-parent="#accordion" href="#divConsultar">
                        <i class="fa fa-bookmark"></i>
                    </a>
                </h5>
            </div>
            <div id="divConsultar" class="panel-collapse collapse in">
                <div class="ibox float-e-margins">

                    <div id="divResultadoBusquedaContratos" class="ibox-content" style="border-width:1px 0px 0px 0px;">
                        <form name="asignarSobresForm" role="form" #asignarSobresForm="ngForm">
                            <fieldset class="col-lg-12">
                                <legend class="info">CONSULTOR DE SOBRES</legend>

                                <label class="col-lg-2 control-label" for="fechaDesde">Asignado Desde:</label>
                                <div class="m-b col-lg-4">
                                    <datetime class="heigth25 col-lg-12 no-padding" [timepicker]="false" id="fechaDesde"
                                        name="fechaDesde" [(ngModel)]="sobreFilter.FechaAsignacionDesde" [datepicker]="datepickerOpts"></datetime>
                                </div>
                                <label class="col-lg-2 control-label" for="fechaHasta">Asignado Hasta:</label>
                                <div class="m-b col-lg-4">
                                    <datetime class="heigth25 col-lg-12 no-padding" [timepicker]="false" id="fechaHasta"
                                        name="fechaHasta" [(ngModel)]="sobreFilter.FechaAsignacionHasta" [datepicker]="datepickerOpts"></datetime>
                                </div>
                            </fieldset>

                            <fieldset class="col-lg-12">
                                <label class="col-lg-2 control-label">Estado:</label>
                                <div class="col-lg-4">
                                    <select class="form-select-control m-b" id="slcEstado" name="slcEstado" [(ngModel)]="sobreFilter.IdEstado"
                                        #slcEstado="ngModel">
                                        <option [ngValue]="undefined" selected>Seleccione...</option>
                                        <option *ngFor="let estado of estados" [value]="estado.Id">{{estado.Valor}}</option>
                                    </select>
                                </div>
                                <label class="col-lg-2 control-label" for="accion">Sobre:</label>
                                <div class="col-lg-4">
                                    <input type="text" placeholder="Número de Sobre" [(ngModel)]="sobreFilter.NumeroSobre"
                                        id="numeroSobre" name="numeroSobre" class="heigth25 form-control col-lg-12" />
                                </div>
                            </fieldset>

                            <fieldset class="col-lg-12">
                                <label class="col-lg-2 control-label" for="accionC">Identificación:</label>
                                <div class="col-lg-4">
                                    <input type="text" placeholder="Número de Identificación" [(ngModel)]="sobreFilter.NumeroCedula"
                                        id="numeroCedula" name="numeroCedula" class="heigth25 form-control col-lg-12 m-b" />
                                </div>

                            </fieldset>
                            <div class="col-lg-12 m-b">
                                <button class="btn btn-w-m btn-success btn-sm" (click)="loadSobres();">
                                    <i class="fa fa-search"></i> Buscar
                                </button>
                                <a (click)="limpiar()" class="btn btn-w-m btn-success btn-sm">Limpiar</a>
                            </div>

                            <div class="dataTables_info">{{sobreReembolsoService.paginationConstants.EncabezadoTabla}}</div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th class="centerMiddle">Sel:</th>
                                            <th class="centerMiddle">Asignado A:</th>
                                            <th class="centerMiddle">Número Sobre</th>
                                            <th class="centerMiddle">Valor Presentado</th>
                                            <th class="centerMiddle">Estado Sobre</th>
                                            <th class="centerMiddle">Establecimiento</th>
                                            <th class="centerMiddle">Fecha Digitación</th>
                                            <th class="centerMiddle">Número Contrato</th>
                                            <th class="centerMiddle">Región</th>
                                            <th class="centerMiddle">Producto</th>
                                            <th class="centerMiddle">Persona Contacto</th>
                                            <th class="centerMiddle">Celular</th>
                                            <th class="centerMiddle">Fecha Recepción</th>
                                            <th class="centerMiddle">Fecha Sobre</th>
                                            <th class="centerMiddle">Fecha Asignación</th>
                                        </tr>
                                    </thead>
                                    <tbody class="no-borders selectableBodyTable" *ngFor="let sobre of listadoSobres | paginate: {id : 'sobresTable', itemsPerPage: sobreReembolsoService.paginationConstants.pageSize,currentPage: sobreReembolsoService.paginationConstants.pageNumber, totalItems: sobreReembolsoService.paginationConstants.total};">
                                        <tr>
                                            <td class="centerMiddle clickableColumn">
                                                <a title="Clic para tramitar el Sobre">
                                                    <i class="fa fa-file-text" (click)="inicializarPanelSobres(sobre)"></i>
                                                </a>

                                                <a title="Clic para enviar mail">
                                                    <i *ngIf="sobre.IdEstadoSobre == constantesSobres.CODIGO_ESTADO_SOBRE_DEVUELTO || sobre.EnviarMail"
                                                        (click)="inicializarPanelMail(sobre)" class="fa fa-envelope-o"></i>
                                                </a>

                                                <a *ngIf="sobre.SMSDevolucion" title="Mensaje Enviado">
                                                    <i class="fa fa-commenting-o"></i>
                                                </a>
                                                <a *ngIf="!sobre.SMSDevolucion && (sobre.IdEstadoSobre == constantesSobres.CODIGO_ESTADO_SOBRE_DEVUELTO || sobre.EnviarMail)" title="Clic para enviar SMS">
                                                    <i class="fa fa-paper-plane" (click)="enviarSMS(sobre)"></i>
                                                </a>
                                                <a title="Clic para mostrar detalles">
                                                        <i class="fa fa-eye" (click)="abrirModalDetalles(sobre);"></i>
                                                </a>

                                            </td>
                                            <td *ngIf="sobre.UsuarioAsignado == undefined">Sin Asignar</td>
                                            <td *ngIf="sobre.UsuarioAsignado != undefined">{{sobre.UsuarioAsignado}}</td>
                                            <td>{{sobre.NumeroSobre}}</td>
                                            <td>{{sobre.ValorPresentado}}</td>
                                            <td>{{sobre.NombreEstadoSobre}}</td>
                                            <td>{{sobre.NombreEstablecimiento}}</td>
                                            <td>{{sobre.FechaDigitacion | date: 'dd/MM/yyyy'}}</td>
                                            <td>{{sobre.NumeroContrato}}</td>
                                            <td>{{sobre.CodigoRegion}}</td>
                                            <td>{{sobre.CodigoProducto}}</td>
                                            <td>{{sobre.PersonaContacto}}</td>
                                            <td>{{sobre.Celular}}</td>
                                            <td>{{sobre.FechaRecepcion | date: 'dd/MM/yyyy'}}</td>
                                            <td>{{sobre.FechaSobre | date: 'dd/MM/yyyy'}}</td>
                                            <td *ngIf="sobre.UsuarioAsignado == undefined">Sin Asignar</td>
                                            <td *ngIf="sobre.UsuarioAsignado != undefined">{{sobre.FechaAsignacion |
                                                date: 'dd/MM/yyyy'}}
                                            </td>
                                        </tr>

                                    </tbody>
                                    <tfoot *ngIf="sobreReembolsoService.paginationConstants.total == 0">
                                        <tr>
                                            <td colspan="14" style="text-align: center;">No tiene asigando sobres por
                                                el momento
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <pagination-controls id="sobresTable" maxSize="4" previousLabel="" nextLabel="" autoHide="true"
                                (pageChange)="sobreReembolsoService.paginationConstants.pageNumber=$event;pageChanged();"></pagination-controls>
                        </form>
                    </div>
                </div>
            </div>

            <div class="" *ngIf="isDesplegar">
                <div id="divPanelSobres" class="panel-collapse collapse">
                    <div class="panel-body" style="padding-top:0px">
                        <div id="panelSobres">
                            <div class="row">
                                <div class="col-lg-12 no-padding">
                                    <consultorForm></consultorForm>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="" *ngIf="isDesplegarMail">
                <div id="divPanelMail" class="panel-collapse collapse">
                    <div class="panel-body" style="padding-top:0px">
                        <div id="panelSobres">
                            <div class="row">
                                <div class="col-lg-12 no-padding">
                                    <sobresMail></sobresMail>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Nuevo Modal Detalles-->
<div class="modal inmodal fade" id="ModalDetalles" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="col-lg-12">
                <div class="panel panel-success">
                    <ul class="nav nav-pills">
                        <li *ngFor="let detalle of detallesSobres;let i = index">
                            <a href="#{{i}}" data-toggle="tab" (click)="cambiarBeneficiario(i);">{{detalle.NombreBeneficiario}}</a>
                        </li>
                    </ul>
                    <div class="panel-heading">
                        <h5 class="panel-title">Detalle del Sobre</h5>
                    </div>
                    <div class="panel-body panelDatos">
                        <fieldset class="col-lg-12 m-b">
                            <legend class="info">DETALLE DEL SOBRE</legend>
                            <div class="col-lg-1" style="padding-left:10px !important">
                                <label class="control-label">Código:</label>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" id="descripcionEstado" name="descripcionEstado" class="heigth25 form-control col-lg-12"
                                    [disabled]="true" [(ngModel)]="detalleSobreSelected.NumeroSolicitudDetalle" />
                            </div>
                            <div class="col-lg-1" style="padding-left:10px !important">
                                <label class="control-label">Valor:</label>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" id="valorPresentado" name="valorPresentado" [(ngModel)]="detalleSobreSelected.ValorPresentadoDetalle"
                                    class="heigth25 form-control col-lg-12" [disabled]="true" />
                            </div>
                            <div class="col-lg-1" style="padding-left:10px !important">
                                <label class="control-label">Estado:</label>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" id="descripcionEstado" name="descripcionEstado" class="heigth25 form-control col-lg-12"
                                    [(ngModel)]="detalleSobreSelected.DescripcionEstado" [disabled]="true" />
                            </div>
                        </fieldset>
                        <fieldset class="col-lg-12 m-b">
                            <div class="col-lg-1" style="padding-left:10px !important">
                                <label class="control-label">Cobertura:</label>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" id="descripcionTipoCobertura" name="descripcionTipoCobertura" class="heigth25 form-control col-lg-12"
                                    [(ngModel)]="detalleSobreSelected.DescripcionTipoCobertura" [disabled]="true" />
                            </div>
                            <div class="col-lg-1" style="padding-left:10px !important">
                                <label class="control-label">Novedad:</label>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" id="numeroSolicitudDetalle" name="numeroSolicitudDetalle" class="heigth25 form-control col-lg-12"
                                    [(ngModel)]="detalleSobreSelected.DescripcionNovedad" [disabled]="true" />
                            </div>
                            <div class="col-lg-1" style="padding-left:10px !important">
                                <label class="control-label ">Número Qpra:</label>
                            </div>

                            <div class="col-lg-3">
                                <input type="text" id="numeroQpra" name="numeroQpra" class="heigth25 form-control col-lg-12"
                                    [disabled]="true" />
                            </div>
                        </fieldset>
                        <fieldset class="col-lg-12 m-b">
                            <div class="col-lg-1" style="padding-left:10px !important">
                                <label class="control-label">Observaciones:</label>
                            </div>
                            <div class="col-lg-11" style="padding-left:33px !important">
                                <input type="text" id="codigoSobrePersona" name="codigoSobrePersona" class="heigth25 form-control col-lg-12"
                                    [(ngModel)]="detalleSobreSelected.ObservacionesConsultor" [disabled]="true" />
                            </div>
                        </fieldset>
                        <fieldset class="col-lg-12 m-b">
                            <legend class="info">DEVOLUCIÓN</legend>
                            <div class="col-lg-2" style="padding-left:10px !important">
                                <label class="control-label">Tipo de devolución:</label>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" id="descripcionTipoDevolucion" name="descripcionTipoDevolucion"
                                    class="heigth25 form-control col-lg-12" [(ngModel)]="detalleSobreSelected.DescripcionTipoDevolucion"
                                    [disabled]="true" />
                            </div>
                            <div class="col-lg-2" style="padding-left:10px !important">
                                <label class="control-label">Tipo de Carta:</label>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" id="descripcionTipoCarta" name="descripcionTipoCarta" class="heigth25 form-control col-lg-12"
                                    [(ngModel)]="detalleSobreSelected.DescripcionTipoCarta" [disabled]="true" />
                            </div>
                        </fieldset>
                        <fieldset class="col-lg-12 m-b">
                            <div class="col-lg-2" style="padding-left:10px !important">
                                <label class="control-label">Motivo Devolucion:</label>
                            </div>
                            <div class="col-lg-4">
                                <textarea rows="3" id="descripcionMotivoDevolucion" name="descripcionMotivoDevolucion"
                                    [(ngModel)]="detalleSobreSelected.DescripcionMotivoDevolucion" class="form-control"
                                    [disabled]="true"></textarea>
                            </div>
                            <div class="col-lg-2" style="padding-left:10px !important">
                                <label class="control-label">Motivo Negativa:</label>
                            </div>
                            <div class="col-lg-4">
                                <textarea rows="3" id="descripcionMotivoGestion" name="descripcionMotivoGestion" class="form-control"
                                    [(ngModel)]="detalleSobreSelected.DescripcionMotivoNegativa" [disabled]="true"></textarea>
                            </div>
                        </fieldset>
                        <fieldset class="col-lg-12 m-b">
                            <div class="col-lg-6" style="padding-left:10px !important">
                                <legend class="info">DETALLE 1</legend>
                                <textarea rows="5" placeholder="Detalle de devolución y cláusula del contrato." id="motivoDevolucion2"
                                    [(ngModel)]="detalleSobreSelected.ClausulaDevolucion" name="motivoDevolucion2"
                                    class="form-control" [disabled]="true">
                                        </textarea>
                            </div>

                            <div class="col-lg-6" style="padding-left:10px !important">
                                <legend class="info">DETALLE 2</legend>
                                <textarea rows="5" placeholder="Detalle de la negativa y cláusula del contrato." id="observacionesSobre"
                                    [(ngModel)]="detalleSobreSelected.ClausulaNegativa" name="observacionesSobre"
                                    class="form-control" [disabled]="true">
                                        </textarea>
                            </div>
                        </fieldset>
                        <fieldset class="col-lg-12 m-b">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4" style="padding-left: 129px !important;">
                                <button type="button" (click)="cerrarModal('ModalDetalles');" class="btn btn-danger">Cerrar</button>
                            </div>
                            <div class="col-lg-4"></div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>