<div class="row m-t-sm no-padding">
    <div class="col-xs-12 no-padding">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h5 class="panel-title">Datos Generales</h5>
                </div>
                <div class="panel-body panelDatos">
                    <label class="col-md-3 col-xs-5 clearInfo">Región:</label>
                    <span class="col-md-3 col-xs-7">{{contrato.CodigoRegion}}</span>
                    <label class="col-md-3 col-xs-5">Código Producto:</label>
                    <span class="col-md-3 col-xs-7">{{contrato.CodigoProducto}}</span>

                    <label class="col-md-3 col-xs-5 clearInfo">Número Contrato:</label>
                    <span class="col-md-3 col-xs-7">{{contrato.NumeroContrato}}</span>
                    <label class="col-md-3 col-xs-5">Código Plan:</label>
                    <span class="col-md-3 col-xs-7">{{contrato.CodigoPlan}}</span>

                    <label class="col-md-3 col-xs-5 clearInfo">Fecha Digitación:</label>
                    <span class="col-md-3 col-xs-7">{{contrato.FechaDigitacion}}</span>
                    <label class="col-md-3 col-xs-5">Versión:</label>
                    <span class="col-md-3 col-xs-7">{{contrato.VersionPlan}}</span>

                    <label class="col-md-3 col-xs-5 clearInfo">Estado Contrato:</label>
                    <span class="col-md-3 col-xs-7">{{contrato.EstadoContrato}}</span>
                    <label class="col-md-3 col-xs-5">Nivel Referencia:</label>
                    <span class="col-md-3 col-xs-7">{{contrato.NivelReferencia}}</span>

                    <label class="col-md-3 col-xs-5 clearInfo">Inicio Vigencia:</label>
                    <span class="col-md-3 col-xs-7">{{contrato.FechaInicio}}</span>
                    <label class="col-md-3 col-xs-5">Final Vigencia:</label>
                    <span class="col-md-3 col-xs-7">{{contrato.FechaFin}}</span>

                    <div *ngIf="verMontoMora">
                        <label class="col-md-3 col-xs-5 clearInfo">Moroso:</label>
                        <span class="col-md-3 col-xs-7">{{contrato.EsMoroso!=undefined ? (contrato.EsMoroso ? 'Si' :
                            'No') : ''}}</span>
                        <label class="col-md-3 col-xs-5">Monto Mora:</label>
                        <span class="col-md-2 col-xs-7 alignR">&#36;{{contrato.MontoMora | number : '1.2-2'}}</span>
                    </div>

                    <label class="col-md-3 col-xs-5 clearInfo">Nombre del Plan:</label>
                    <span class="col-md-9 col-xs-7">{{contrato.NombrePlan}}</span>

                    <label class="col-md-3 col-xs-5 clearInfo">Titular Con Beneficios:</label>
                    <span class="col-md-9 col-xs-7">{{contrato.TitularBeneficio!=undefined ? (contrato.TitularBeneficio
                        ? 'Si' : 'No') : ''}}</span>
                    <label class="col-md-3 col-xs-5 clearInfo">Motivo Anulación:</label>
                    <span class="col-md-9 col-xs-7">{{contrato.MotivoAnulacion}}</span>

                    <label class="col-md-3 col-xs-5 m-t-sm clearInfo">Sucursal:</label>
                    <span class="col-md-9 col-xs-7 m-t-sm">{{contrato.Sucursal}}</span>

                    <label class="col-md-3 col-xs-5 clearInfo">Agente Venta:</label>
                    <span class="col-md-9 col-xs-7">{{contrato.AgenteVenta}}</span>

                    <label class="col-md-3 col-xs-5 clearInfo">Agente Contacto:</label>
                    <span class="col-md-9 col-xs-7">{{contrato.AgenteContacto}}</span>

                    <label class="col-md-3 col-xs-5 clearInfo">Ejecutivo Cuenta:</label>
                    <span class="col-md-9 col-xs-7">{{contrato.EjecutivoCuenta}}</span>

                    <label class="col-md-3 col-xs-5 clearInfo">Número Empresa:</label>
                    <span class="col-md-9 col-xs-7">{{contrato.NumeroEmpresa}}</span>

                    <label class="col-md-3 col-xs-5">Numero Lista:</label>
                    <span class="col-md-2 col-xs-7">{{contrato.NumeroLista}}</span>

                    <label class="col-md-3 col-xs-5">Cuenta Bloqueada:</label>
                    <span class="col-md-2 col-xs-7" [ngClass]="{'cuentaBloqueada': contrato.EsCuentaBloqueada }">{{contrato.EsCuentaBloqueada!=undefined
                        ? (contrato.EsCuentaBloqueada ? 'Si' : 'No') : ''}}</span>

                    <label class="col-md-3 col-xs-5 clearInfo">Observaciones:</label>
                    <span class="col-md-9 col-xs-7">{{contrato.Observaciones}}</span>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <ul class="nav nav-tabs nestedTabs" role="tablist">
                <li class="nav-item active nestedTab">
                    <a id="recaudacionTab" class="nav-link active" data-toggle="tab" href="#recaudacion" role="tab">Recaudación</a>
                </li>
                <li class="nav-item nestedTab">
                    <a id="datosTitularTab" class="nav-link" data-toggle="tab" href="#datosTitular" role="tab">Datos
                        Titular</a>
                </li>
                <li class="nav-item nestedTab">
                    <a id="siniestralidadTab" class="nav-link" data-toggle="tab" href="#siniestralidad" role="tab">Siniestralidad</a>
                </li>
                <li class="nav-item nestedTab">
                    <a id="ultimasActualizacionesTab" class="nav-link" data-toggle="tab" href="#ultimasActualizaciones"
                        role="tab"> Últimas actualizaciones</a>
                </li>
            </ul>
            <div class="tab-content nestedTabs">
                <div class="tab-pane active" id="recaudacion" role="tabpanel">
                    <div class="panel panel-success">
                        <div class="panel-body panelDatos">
                            <div class="col-md-12 no-padding">
                                <label class="col-md-4 col-xs-5">Facturar a Cédula:</label>
                                <span class="col-md-8">{{contrato.FacturarCedula}}</span>

                                <label class="col-md-4 col-xs-5 clearInfo">Facturar a RUC:</label>
                                <div class="col-md-8 col-xs-7">{{contrato.FacturarRUC}}</div>

                                <label class="col-md-4 col-xs-5 clearInfo">Facturar a Pasaporte:</label>
                                <span class="col-md-8 col-xs-7">{{contrato.FacturarPasaporte}}</span>

                                <label class="col-md-4 col-xs-5 clearInfo">Banco/Tarjeta:</label>
                                <span class="col-md-8 col-xs-7">{{contrato.BancoTarjeta}}</span>

                                <label class="col-md-4 col-xs-5 clearInfo">Tipo de Cuenta:</label>
                                <span class="col-md-8 col-xs-7">{{contrato.TipoCuenta}}</span>

                                <label class="col-md-4 col-xs-5 clearInfo">Nro. Cuenta Débito:</label>
                                <span class="col-md-8 col-xs-7">{{contrato.NumeroCuenta}}</span>

                                <label class="col-md-4 col-xs-5 clearInfo">Forma de Pago:</label>
                                <span class="col-md-8 col-xs-7">{{contrato.FormaPago}}</span>

                                <label class="col-md-4 col-xs-5 clearInfo">Período de Pago:</label>
                                <span class="col-md-8 col-xs-7">{{contrato.PeriodoPago}}</span>

                                <label class="col-md-4 col-xs-5 clearInfo">Saldo a Favor:</label>
                                <span class="col-md-2 col-xs-7 alignR">&#36;{{contrato.SaldoFavor | number : '1.2-2'}}</span>

                                <label class="col-md-4 col-xs-5 clearInfo">Fecha Fin Tarjeta:</label>
                                <span class="col-md-8 col-xs-7">{{contrato.FechaFinTarjeta}}</span>

                                <label class="col-md-4 col-xs-5 clearInfo">Nombre Dueño Cuenta:</label>
                                <span class="col-md-8 col-xs-7">{{contrato.NombreDuennoCuenta}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="datosTitular" role="tabpanel">
                    <div class="panel panel-success">
                        <div class="panel-body panelDatos">
                            <div class="col-md-12 no-padding">
                                <fieldset class="no-padding m-b-sm">
                                    <legend class="info">Personales</legend>
                                    <label class="col-md-3 col-xs-5">Nombre Completo:</label>
                                    <span class="col-md-9 col-xs-7">{{(contrato.Nombres!=undefined ? contrato.Nombres :
                                        '') +' '+(contrato.Apellidos!=undefined ? contrato.Apellidos : '')}}</span>

                                    <label class="col-md-3 col-xs-5 clearInfo">Tipo Doc:</label>
                                    <span class="col-md-3 col-xs-7">{{contrato.TipoDocumento}}</span>
                                    <label class="col-md-3 col-xs-5">No. Doc:</label>
                                    <span class="col-md-3 col-xs-7">{{contrato.NumeroDocumento}}</span>

                                    <label class="col-md-3 col-xs-5 clearInfo">Nacimiento:</label>
                                    <span class="col-md-3 col-xs-7">{{contrato.FechaNacimiento}}</span>
                                    <label class="col-md-3 col-xs-5">Edad:</label>
                                    <span class="col-md-3 col-xs-7">{{contrato.Edad}}</span>

                                    <label class="col-md-3 col-xs-5 clearInfo">Género:</label>
                                    <span class="col-md-3 col-xs-7">{{contrato.Genero}}</span>

                                    <label class="col-md-3 col-xs-5">Estado Civil:</label>
                                    <span class="col-md-3 col-xs-7">{{contrato.EstadoCivil}}</span>

                                    <label class="col-md-3 col-xs-5 clearInfo">Ecuatoriano:</label>
                                    <span class="col-md-3 col-xs-7">{{contrato.Ecuatoriano!=undefined ?
                                        (contrato.Ecuatoriano ? 'Si' : 'No') : ''}}</span>
                                </fieldset>
                                <fieldset>
                                    <legend class="info">Domicilio</legend>
                                    <label class="col-md-3 col-xs-5">Dirección:</label>
                                    <span class="col-md-9 col-xs-7">{{contrato.Direccion}}</span>
                                    <label class="col-md-3 col-xs-5 clearInfo">Télefonos:</label>
                                    <span class="col-md-9 col-xs-7">{{contrato.Telefonos}}</span>
                                    <label class="col-md-3 col-xs-5 clearInfo">Email:</label>
                                    <span class="col-md-9 col-xs-7">{{contrato.Email}}</span>
                                    <label class="col-md-3 col-xs-5 clearInfo">Ciudad:</label>
                                    <span class="col-md-9 col-xs-7">{{contrato.Ciudad}}</span>

                                    <label class="col-md-3 col-xs-5 clearInfo">Barrio:</label>
                                    <span class="col-md-3 col-xs-7">{{contrato.Barrio}}</span>
                                    <label class="col-md-3 col-xs-5">Zona:</label>
                                    <span class="col-md-3 col-xs-7">{{contrato.Zona}}</span>

                                    <label class="col-md-3 col-xs-5 clearInfo">Empresa:</label>
                                    <span class="col-md-3 col-xs-7">{{contrato.Empresa}}</span>
                                    <label class="col-md-3 col-xs-5">Telf Empresa:</label>
                                    <span class="col-md-3 col-xs-7">{{contrato.TelefonoEmpresa}}</span>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="siniestralidad" role="tabpanel">
                    <div class="panel panel-success">
                        <div class="panel-body panelDatos">
                            <div class="col-md-12 no-padding">
                                <fieldset class="no-padding m-b-sm">
                                    <legend class="info">Siniestralidad Acumulada</legend>

                                    <label class="col-md-4 col-xs-5">Total Facturado:</label>
                                    <span class="col-md-2 col-xs-7 alignR">&#36;{{contrato.TotalFacturado | number :
                                        '1.2-2'}}</span>
                                    <label class="col-md-3 col-xs-5">Total Bonificado:</label>
                                    <span class="col-md-3 col-xs-7 alignR">&#36;{{contrato.TotalBonificado | number :
                                        '1.2-2'}}</span>

                                    <label class="col-md-4 col-xs-5 clearInfo">Gasto Administrativo:</label>
                                    <span class="col-md-2 col-xs-7 alignR">&#36;{{contrato.TotalGastoAdministrativo |
                                        number : '1.2-2'}}</span>
                                    <label class="col-md-3 col-xs-5">Siniestralidad:</label>
                                    <span class="col-md-3 col-xs-7 alignR">{{contrato.PorcentajeSiniestralidad | number
                                        : '1.2-2'}}%</span>

                                </fieldset>
                                <fieldset>
                                    <legend class="info">Siniestralidad Vigente</legend>
                                    <label class="col-md-4 col-xs-5">Período:</label>
                                    <span class=" col-md-8 col-xs-7 alignR">{{contrato.FechaInicioSiniestalidad}} -
                                        {{contrato.FechaFinSiniestalidad}}</span>

                                    <label class="col-md-4 col-xs-5 clearInfo">Total Facturado:</label>
                                    <span class="col-md-2 col-xs-7 alignR">&#36;{{contrato.TotalFacturadoVigente |
                                        number : '1.2-2'}}</span>
                                    <label class="col-md-3 col-xs-5">Total Bonificado:</label>
                                    <span class="col-md-3 col-xs-7 alignR">&#36;{{contrato.TotalBonificadoVigente |
                                        number : '1.2-2'}}</span>

                                    <label class="col-md-4 col-xs-5 clearInfo">Gasto Administrativo:</label>
                                    <span class="col-md-2 col-xs-7 alignR">&#36;{{contrato.TotalGastoAdministrativoVigente
                                        | number : '1.2-2'}}</span>
                                    <label class="col-md-3 col-xs-5">Siniestralidad:</label>
                                    <span class="col-md-3 col-xs-7 alignR">{{contrato.PorcentajeSiniestralidadVigente |
                                        number : '1.2-2'}}%</span>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="ultimasActualizaciones" role="tabpanel">
                    <div class="panel panel-success">
                        <div class="panel-body panelDatos">
                            <div class="col-md-12 no-padding">
                                <fieldset class="no-padding m-b-sm">
                                    <legend class="info"> PAGO INTELIGENTE </legend>

                                    <div class="panel-body text-center" *ngIf="contratoKey.EnvioPi == 0">
                                        <h4>Solo toma el servicio</h4>
                                    </div>
                                    <div class="panel-body text-center" *ngIf="contratoKey.EnvioPi == 1">
                                        <h4>E-Mail de Bienvenida enviado</h4>
                                        <h4>Pedir que revise su correo electronico</h4>
                                        <h4>Recordar que solo confirmados los datos pasara al sistema de PI</h4>
                                    </div>
                                    <div class="panel-body text-center" *ngIf="contratoKey.EnvioPi == 2">
                                        <h4>Tiene activado el servicio de PI</h4>
                                    </div>

                                </fieldset>
                                <fieldset class="no-padding col-md-12 m-b-sm" *ngIf=" lastMovTipo1.CodigoTransaccion != undefined">
                                    <legend class="info">Ultima actualización MOVIMIENTOS PAGO INTELIGENTE</legend>

                                    <div class="col-md-12 no-padding" style="font-size: 1em;">
                                        <div class="col-md-6 p-5" style="margin-top: 5px;"> <b> Movimiento: </b> {{
                                            lastMovTipo1.CodigoTransaccion }} {{ lastMovTipo1.NombreTransaccion == null
                                            ? '???' : lastMovTipo1.NombreTransaccion }} </div>
                                        <div class="col-md-6 p-5" style="margin-top: 5px;"> <b> Fecha Movimiento: </b>
                                            {{ lastMovTipo1.FechaMovimiento | date: 'dd/MM/yyyy' }} </div>
                                        <div class="col-md-6 p-5" style="margin-top: 5px;"> <b> Fecha Efecto
                                                Movimiento: </b> {{ lastMovTipo1.FechaEfectoMovimiento | date:
                                            'dd/MM/yyyy' }} </div>
                                        <div class="col-md-6 p-5" style="margin-top: 5px;"> <b> Usuario Movimiento: </b>
                                            {{ lastMovTipo1.Digitador }} </div>
                                        <div class="col-md-12 p-5" style="margin-top: 5px;"> <b> Historia: </b> {{
                                            lastMovTipo1.DatoAnterior }} </div>
                                    </div>

                                </fieldset>

                                <fieldset class="no-padding col-md-12 m-b-sm" *ngIf=" lastMovTipo2.CodigoTransaccion != undefined">
                                    <legend class="info">Ultima actualización DATOS PAGO INTELIGENTE</legend>

                                    <div class="col-md-12 no-padding" style="font-size: 1em;">
                                        <div class="col-md-6" style="margin-top: 5px;"> <b> Movimiento: </b> {{
                                            lastMovTipo2.CodigoTransaccion }} {{ lastMovTipo2.NombreTransaccion == null
                                            ? '???' : lastMovTipo2.NombreTransaccion }} </div>
                                        <div class="col-md-6" style="margin-top: 5px;"> <b> Fecha Movimiento: </b> {{
                                            lastMovTipo2.FechaMovimiento | date: 'dd/MM/yyyy' }} </div>
                                        <div class="col-md-6" style="margin-top: 5px;"> <b> Fecha Efecto Movimiento:
                                            </b> {{ lastMovTipo2.FechaEfectoMovimiento | date: 'dd/MM/yyyy' }} </div>
                                        <div class="col-md-6" style="margin-top: 5px;"> <b> Usuario Movimiento: </b> {{
                                            lastMovTipo2.Digitador }} </div>
                                        <div class="col-md-6" style="margin-top: 5px;"> <b> Campo: </b> {{
                                            lastMovTipo2.Campo }} </div>
                                        <div class="col-md-12" style="margin-top: 5px;"> <b> Historia: </b> {{
                                            lastMovTipo2.DatoAnterior }} </div>
                                    </div>
                                </fieldset>

                                <fieldset class="no-padding col-md-12 m-b-sm">
                                    <legend class="info">Información actual en el sistema DATOS PAGO INTELIGENTE</legend>

                                    <div class="col-md-12 no-padding" style="font-size: 1em;">
                                        <div class="col-md-6" style="margin-top: 5px;"> <b> Banco: </b> ({{
                                            contratoKey.CodigoBancoCredito }}) {{ contratoKey.NombreBancoPI }} </div>
                                        <div class="col-md-6" style="margin-top: 5px;"> <b> Cuenta/Tarjeta: </b> {{
                                            contratoKey.NumeroCuentaCredito }} </div>
                                        <div class="col-md-6" style="margin-top: 5px;"> <b> Domicilio email: </b> {{
                                            contratoKey.EmailDomicilio | lowercase }} </div>
                                        <div class="col-md-6" style="margin-top: 5px;"> <b> Trabajo email: </b> {{
                                            contratoKey.EmailTrabajo | lowercase }} </div>
                                        <div class="col-md-12" style="margin-top: 5px;"> <b> Celular SMS: </b> {{
                                            contratoKey.Celular }} </div>
                                    </div>
                                </fieldset>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xs-12 m-t-sm no-padding" *ngIf="vercondicionesParticulares">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h5 class="panel-title">Movimientos Lista</h5>
                </div>
                <div class="panel-body panelDatos">
                    <div class="dataTables_info">{{condicionParticularService.paginationConstants.EncabezadoTabla}}</div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th class="centerMiddle">Número</th>
                                    <th class="centerMiddle">Transacción</th>
                                    <th class="centerMiddle">Fecha Movimiento</th>
                                    <th class="centerMiddle">Fecha Efecto</th>
                                    <th class="centerMiddle">Fecha Fin</th>
                                </tr>
                            </thead>
                            <tbody class="no-borders selectableBodyTable" *ngFor="let condicionParticular of condicionesParticulares | paginate: {id : 'condicionParticularTable', itemsPerPage: condicionParticularService.paginationConstants.pageSize,currentPage: condicionParticularService.paginationConstants.pageNumber, totalItems: condicionParticularService.paginationConstants.total};">
                                <tr title="{{!condicionParticular.Selected ? 'Click para seleccionar' : ''}}" (click)="!condicionParticular.Selected ? seleccionar(condicionParticular, true) : return;"
                                    [class.active]="condicionParticular.Selected">
                                    <td class="centerMiddle">{{condicionParticular.NumeroMovimiento}}</td>
                                    <td>{{condicionParticular.Transaccion}}</td>
                                    <td>{{condicionParticular.FechaMovimiento}}</td>
                                    <td>{{condicionParticular.FechaEfecto}}</td>
                                    <td>{{condicionParticular.FechaFin}}</td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="condicionParticularService.paginationConstants.total == 0">
                                <tr>
                                    <td colspan="6" style="text-align: center;">No existen resultados</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <pagination-controls id="condicionParticularTable" maxSize="4" previousLabel="" nextLabel=""
                        autoHide="true" (pageChange)="condicionParticularService.paginationConstants.pageNumber=$event;pageChanged();"></pagination-controls>
                </div>
            </div>
        </div>
        <div id="divDetallesCotizacion" class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h5 class="panel-title">Detalle Movimiento</h5>
                </div>
                <div class="panel-body panelDatos">
                    <label class="col-md-4 col-xs-5">Plan o Servicio:</label>
                    <span class="col-md-8 col-xs-7">{{condicionParticularSelected.Plan?'Plan':'Servicio'}}</span>

                    <label class="col-md-4 col-xs-5 clearInfo">Digitador:</label>
                    <span class="col-md-8 col-xs-7">{{condicionParticularSelected.Digitador}}</span>

                    <label class="col-md-4 col-xs-5 clearInfo">Servicio:</label>
                    <span class="col-md-8 col-xs-7">{{condicionParticularSelected.Servicio}}</span>

                    <label class="col-md-4 col-xs-5 clearInfo">Observación:</label>
                    <span class="col-md-8 col-xs-7">{{condicionParticularSelected.Observacion}}</span>

                    <label class="col-md-4 col-xs-5 clearInfo">Terminal Usuario:</label>
                    <span class="col-md-8 col-xs-7">{{condicionParticularSelected.TerminalUsuario}}</span>

                    <label class="col-md-4 col-xs-5 clearInfo">Estado:</label>
                    <span class="col-md-8 col-xs-7">{{condicionParticularSelected.EstadoMovimiento}}</span>

                    <label class="col-md-4 col-xs-5 clearInfo">Ref. Documento:</label>
                    <span class="col-md-8 col-xs-7">{{condicionParticularSelected.ReferenciaDocumento}}</span>

                    <div class="col-lg-12">
                        <button class="btn btn-w-m btn-success btn-sm" id="btnNuevo" (click)="descargar()">
                            <i class="fa fa-download"></i> Descargar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>