<div class="row wrapper white-bg page-heading border-bottom">
    <div class="col-lg-10">
        <h2>Ejecutivos Comerciales</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['']">Home</a>
            </li>
            <li class="breadcrumb-item">Ejecutivos Comerciales</li>
            <li class="breadcrumb-item active">Listado Vendedores</li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
    
<div class="wrapper wrapper-content">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default panel-body no-padding">
            <div class="panel-heading">
                <h5>
                    <a class="panel-title pull-left" data-toggle="collapse" title="Consultar" data-parent="#accordion" href="#divConsultar">
                        <i class="fa fa-bookmark" (click)="colapsarTab()"></i>
                    </a>
                    <a class="panel-title pull-right" (click)="volverADirectores()">
                        Volver a Directores
                    </a>
                    <a class="clearfix"></a>
                </h5>
            </div>
            <div id="divConsultar" class="panel-collapse collapse in">
                <div class="ibox float-e-margins">

                    <div id="divResultadoBusquedaContratos" class="ibox-content" style="border-width:1px 0px 0px 0px;">
                        <form name="asignardirectorsForm" role="form" #asignardirectorsForm="ngForm">
                            <fieldset class="col-lg-12">
                                <legend class="info"> Vendedores del Director {{directorFromParent.Nombre}} - {{directorFromParent.Codigo}} </legend>

                                <div class="m-b col-lg-2">
                                    <label class="control-label no-padding-left">Código Vendedor:</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" placeholder="Código de Vendedor" [(ngModel)]="directorFilter.CodigoDirector" id="codigoDirector" name="codigoDirector"
                                        class="heigth25 form-control col-lg-12" />
                                </div>

                                <div class="m-b col-lg-2">
                                    <label class="control-label no-padding-left">Nombres:</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" placeholder="Nombres del Vendedor" [(ngModel)]="directorFilter.Apellidos" id="nombresDirector" name="nombresDirector"
                                        class="heigth25 form-control col-lg-12" />
                                </div>

                            </fieldset>

                            <fieldset class="col-lg-12">
                                <div class="m-b col-lg-2">
                                    <label class="control-label no-padding-left">Región:</label>
                                </div>

                                <div class="m-b col-lg-4">
                                    <select required class="form-select-control m-b" id="slcRegion" name="slcRegion" [(ngModel)]="directorFilter.Region" #slcRegion="ngModel">
                                        <option [ngValue]="undefined" selected>Seleccione...</option>
                                        <option *ngFor="let region of listaRegiones" [value]="region.Id">{{region.Nombre}}</option>
                                    </select>
                                </div>

                                <div class="m-b col-lg-2">
                                    <label class="control-label no-padding-left">Estado:</label>
                                </div>

                                <div class="m-b col-lg-4">
                                    <select required class="form-select-control m-b" id="slcEstado" name="slcEstado" [(ngModel)]="directorFilter.Estado" #slcRegion="ngModel">
                                        <option [ngValue]="undefined">Todos</option>
                                        <option [ngValue]="constCom.ACTIVO">Activo</option>
                                        <option [ngValue]="constCom.INACTIVO">Inactivo</option>
                                        <option [ngValue]="constCom.INDEFINIDO">Indefinido</option>
                                    </select>
                                </div>
                            </fieldset>


                            <div class="col-lg-12 m-b text-center">
                                <button class="btn btn-w-m btn-success btn-sm" (click)="loadDirectores();">
                                    <i class="fa fa-search"></i> Buscar
                                </button>
                                <a (click)="limpiar();" class="btn btn-w-m btn-success btn-sm">Limpiar</a>
                                <button class="btn btn-w-m btn-success btn-sm" (click)="inicializarPanelDirectores(undefined, constCom.TIPO_TRANSACCION_INGRESAR);">
                                    <i class="fa fa-plus"></i> Nuevo
                                </button>
                            </div>

                            <div class="dataTables_info">{{ventasService.paginationConstants.EncabezadoTabla}}</div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th class="centerMiddle">Sel:</th>
                                            <th class="centerMiddle">Código Agente</th>
                                            <th class="centerMiddle">Nombre</th>
                                            <th class="centerMiddle">Estado</th>
                                            <th class="centerMiddle">Fecha Ingreso</th>
                                            <th class="centerMiddle">Fecha Salida</th>
                                            <th class="centerMiddle">Usuario</th>
                                            <th class="centerMiddle">Tipo</th>
                                            <th class="centerMiddle">Subtipo</th>
                                        </tr>
                                    </thead>
                                    <tbody class="no-borders selectableBodyTable" *ngFor="let director of listaDirectores | paginate: {id : 'directoresTable', itemsPerPage: ventasService.paginationConstants.pageSize,currentPage: ventasService.paginationConstants.pageNumber, totalItems: ventasService.paginationConstants.total};">
                                        <tr>
                                            <td class="centerMiddle clickableColumn">
                                                <a title="Clic para Actualizar">
                                                    <i class="fa fa-edit" (click)="inicializarPanelDirectores(director, constCom.TIPO_TRANSACCION_ACTUALIZAR)"></i>
                                                </a>
                                                <a title="Clic para Reingresar" *ngIf="director.Estado == constCom.INACTIVO || director.Estado == constCom.INDEFINIDO">
                                                    <i (click)="modalReingresarDirector(director);" class="fa fa-thumbs-o-up"></i>
                                                </a>
                                                <a title="Clic para Anular"  *ngIf="director.Estado == constCom.ACTIVO">
                                                    <i (click)="modalAnularDirector(director);" class="fa fa-thumbs-o-down"></i>
                                                </a>
                                            </td>
                                            <td class="centerMiddle">{{director.Codigo}}</td>
                                            <td>{{director.Nombre}}</td>
                                            <td class="centerMiddle" *ngIf="director.Estado == constCom.INACTIVO">Anulado</td>
                                            <td class="centerMiddle" *ngIf="director.Estado == constCom.INDEFINIDO">Indefinido</td>
                                            <td class="centerMiddle" *ngIf="director.Estado == constCom.ACTIVO">Activo</td>
                                            <td class="centerMiddle">{{director.FechaIngreso | date: 'dd/MM/yyyy'}}</td>
                                            <td class="centerMiddle">{{director.FechaSalida | date: 'dd/MM/yyyy'}}</td>
                                            <td class="centerMiddle">{{director.UsuarioDirectorioActivo}}</td>
                                            <td class="centerMiddle">{{director.NombreTipo}}</td>
                                            <td class="centerMiddle">{{director.NombreSubtipo}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot *ngIf="ventasService.paginationConstants.total == 0">
                                        <tr>
                                            <td colspan="14" style="text-align: center;">No hay Vendedores</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <pagination-controls id="directoresTable" maxSize="4" previousLabel="" nextLabel="" autoHide="true" (pageChange)="ventasService.paginationConstants.pageNumber=$event;pageChanged();"></pagination-controls>
                        </form>
                    </div>
                </div>
            </div>

            <div class="" *ngIf="isDirector">
                <div id="divPanelDirectores" class="panel-collapse collapse">
                    <div class="panel-body" style="padding-top:0px">
                        <div id="panelSobres">
                            <div class="row">
                                <div class="col-lg-12 no-padding">
                                    <agregarEditarVendendor></agregarEditarVendendor>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Anular Director-->
<div id="myModalAnularDiv">
    <div class="modal inmodal fade" id="myModalAnular" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="col-lg-12 m-t-sm no-padding">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h5 class="panel-title">Anular Vendedor</h5>
                        </div>
                        <div class="panel-body panelDatos">

                            <legend class="info">Escoja una fecha de Salida</legend>

                            <div class="m-b col-lg-6">
                                <label class="control-label no-padding-left">Fecha Salida:</label>
                            </div>
                            <div class="m-b col-lg-6">
                                <datetime class="heigth25 col-lg-12 no-padding" [timepicker]="false" id="fechaSalida" name="fechaSalida" [(ngModel)]="fechaSalida"
                                    [datepicker]="datepickerOpts"></datetime>
                            </div>

                            <div class="col-lg-12 no-padding text-center">
                                <button class="btn btn-w-m btn-success btn-sm" (click)="anularDirector();">
                                    <i class="fa fa-search"></i> Anular</button>
                                <button class="btn btn-w-m btn-success btn-sm" (click)="salirModalAnularDirector();">
                                    <i class="fa fa-plus"></i> Salir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Reingresar Director-->
<div id="myModalAnularDiv">
    <div class="modal inmodal fade" id="modalReingresar" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="col-lg-12 m-t-sm no-padding">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h5 class="panel-title">Reingresar Vendedor</h5>
                        </div>
                        <div class="panel-body panelDatos">

                            <div class="m-b col-lg-12 text-center">
                                <h3>Está seguro que desea reingresar al Vendedor {{directorSelected.Nombre}} </h3>
                            </div>

                            <div class="col-lg-12 no-padding text-center">
                                <button class="btn btn-w-m btn-success btn-sm" (click)="reingresarDirector();">
                                    <i class="fa fa-search"></i> Reingresar </button>
                                <button class="btn btn-w-m btn-success btn-sm" (click)="salirModalReingresarDirector();">
                                    <i class="fa fa-plus"></i> Salir </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>