<div class="col-xs-12 no-padding m-t-xs m-b-sm">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h5 class="panel-title">Ingreso/Modificacion de Pago Inteligente (PI)</h5>
        </div>
        <div class="panel-body">
            <form name="piForm" role="form" #piForm="ngForm">

                <fieldset class="col-lg-12 m-b" *ngIf="datosConfirmados">

                    <div class="col-lg-6 m-t-xs">
                        <label class="control-label no-padding-left" style="color: #ff0000">Datos ya confirmados desea Modificarlos?</label>
                    </div>
                    <div class="col-lg-3 m-t-xs">
                        <button class="btn btn-w-m btn-success btn-sm" (click)="modificarDatos();">
                        <i class="fa fa-check"></i> SI
                    </button>
                    </div>
                    <div class="col-lg-3 m-t-xs">
                        <button class="btn btn-w-m btn-success btn-sm" (click)="noModificarDatos();">
                        <i class="fa fa-times"></i> NO
                    </button>
                    </div>
                    
                </fieldset>

                <fieldset class="col-lg-12">
                    <legend class="info">DATOS DE PI</legend>

                    <label class="col-lg-2 control-label no-padding-left" for="estadoPI">Estado:</label>

                    <div class="col-lg-4 m-t-xs no-padding">
                        <input type="text" id="estadoPI" name="estadoPI" class="heigth25 form-control col-lg-12" [disabled]="true" [(ngModel)]="estado"
                        />
                    </div>

                    <label class="col-lg-2 control-label no-padding-rigth" for="slcPI">Tiene PI:</label>
                    <select class="col-lg-4 form-select-control m-b" [(ngModel)]="_contratoKey.PagoInteligente" id="slcPI" name="slcPI" [disabled]="validarPI"
                        (change)="validacionPI($event.target.value)">
                            <option [value]="true">SI</option>
                            <option [value]="false">NO</option>
                    </select>
                </fieldset>


                <fieldset class="col-lg-12">
                    <legend class="info">DATOS DE LA CUENTA</legend>


                    <label class="col-lg-2 control-label no-padding-left" for="codigoBanco">Código Banco:</label>
                    <div class="col-lg-4 m-t-xs no-padding">
                        <input type="text" [(ngModel)]="_contratoKey.CodigoBancoCredito" id="codigoBanco" name="codigoBanco" class="heigth25 form-control col-lg-12"
                            [disabled]="true" />
                    </div>

                    <label class="col-lg-2 control-label no-padding-rigth" for="slcBanco">Banco:</label>
                    <select required class="col-lg-4 form-select-control m-b" [(ngModel)]="_contratoKey.CodigoBancoCredito" id="slcBanco" name="slcBanco"
                        [disabled]="desabilitar">
                        <option [ngValue]="undefined" selected>Seleccione...</option>
                        <option *ngFor="let banco of bancos" [ngValue]="banco.CodigoBanco">{{banco.NombreBanco}}</option>
                    </select>

                    <label class="col-lg-2 control-label no-padding-left" for="slcTipoCuenta">Tipo de Cuenta:</label>
                    <select class="col-lg-4 form-select-control m-b" [(ngModel)]="_contratoKey.TipoCuentaCredito" id="slcTipoCuenta" name="slcTipoCuenta"
                        [disabled]="desabilitar">
                        <option [value]="1">Cuenta Corriente</option>
                        <option [value]="2">Cuenta Ahorro</option> 
                        <option [value]="3">Tarjeta</option>
                        <option [value]="4">Pago Directo</option>
                    </select>

                    <label class="col-lg-2 control-label no-padding-rigth" for="banco">Número de Cuenta:</label>
                    <div class="col-lg-4 m-t-xs no-padding">
                        <input type="text" [(ngModel)]="_contratoKey.NumeroCuentaCredito" id="banco" name="banco" class="heigth25 form-control col-lg-12"
                            [disabled]="desabilitar" />
                    </div>
                </fieldset>

                <fieldset class="col-lg-12">
                    <legend class="info">OTROS DATOS</legend>

                    <label class="col-lg-2 control-label no-padding-left" for="mailDomicilio">Email Domicilio:</label>
                    <div class="col-lg-4 m-t-xs no-padding">
                        <input type="text" [(ngModel)]="_contratoKey.EmailDomicilio" id="mailDomicilio" name="mailDomicilio" class="heigth25 form-control col-lg-12"
                            [disabled]="desabilitar" />
                    </div>

                    <label class="col-lg-2 control-label  no-padding-rigth" for="mailTrabajo">Email Trabajo:</label>
                    <div class="col-lg-4 m-t-xs no-padding">
                        <input type="text" [(ngModel)]="_contratoKey.EmailTrabajo" id="mailTrabajo" name="mailTrabajo" class="heigth25 form-control col-lg-12"
                            [disabled]="desabilitar" />
                    </div>

                    <label class="col-lg-2 control-label no-padding-left" for="domicilio">Domicilio:</label>
                    <div class="col-lg-4 m-t-xs no-padding">
                        <input type="text" [(ngModel)]="_contratoKey.DireccionPe" id="domicilio" name="domicilio" class="heigth25 form-control col-lg-12"
                            [disabled]="desabilitar" />
                    </div>

                    <label class="col-lg-2 control-label  no-padding-rigth" for="sms">SMS:</label>
                    <div class="col-lg-4 m-t-xs no-padding">
                        <input type="text" [(ngModel)]="_contratoKey.Celular" id="sms" name="sms" class="heigth25 form-control col-lg-12" [disabled]="desabilitar"
                        />
                    </div>
                </fieldset>

                <div class="col-lg-6 m-t-md">
                    <button class="btn btn-w-m btn-success btn-sm" (click)="guardarPI();" [disabled]="!continuar">
                    <i class="fa fa-save"></i> Guardar
                </button>
                </div>


            </form>

        </div>
    </div>
</div>