<div class="col-lg-12 m-t-sm no-padding" id="divpanelnuevoplan">
    <div class="row no-padding">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h5 class="panel-title">Coberturas</h5>
                </div>
                <div class="panel-body panelDatos">
                    <form #crearPlanForm="ngForm">
                        <div class="col-md-12 no-padding" id="clpListaDetalle">
                            <fieldset class="m-b-sm">
                                <legend class="info">Mantenimiento de Coberturas</legend>
                                <br>
                                <div class="col-md-3 col-xs-3"></div>
                                <div class="table-responsive col-md-6 col-xs-6">
                                    <span>
                                        <label class="col-md-2 col-xs-2" for="codigoPlan">Buscar por:</label>
                                    </span>

                                    <span class="col-md-3 col-xs-3">
                                        <input type="text" placeholder="AT001" id="codigoPlan" name="codigoPlan" class="heigth25 col-lg-12"/>
                                    </span>
                                    <table class="table table-striped table-bordered table-hover dataTable">
                                        <thead>
                                            <th class="centerMiddle">Codigo</th>
                                            <th class="centerMiddle">Version Plan</th>
                                            <th class="centerMiddle">Codigo Plan</th>
                                            <th class="centerMiddle">Cobertura</th>
                                            <th class="centerMiddle">Monto Cobertura</th>
                                            <th class="centerMiddle">Tipo</th>
                                        </thead>
                                        <tbody class="no-borders selectableBodyTable" *ngFor="let cob of listadoCobertura">
                                            <tr title="{{!cob.Selected ? 'Click para seleccionar' : ''}}" (click)="!cob.Selected ? seleccionar(cob) : return;"
                                                [class.active]="cob.Selected">
                                                <td class="centerMiddle">{{ cob.CodigoPlan }}</td>
                                                <td class="centerMiddle">{{ cob.VersionPlan }}</td>
                                                <td class="centerMiddle">{{ cob.CodigoCobertura }}</td>
                                                <td class="centerMiddle">{{ cob.Nombre }}</td>
                                                <td class="centerMiddle">{{ cob.Monto }}</td>
                                                <td class="centerMiddle">{{ cob.Tipo }}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </fieldset>
                            <fieldset class="col-lg-12">
                                <label class="col-lg-1 control-label" style="padding-left:10px !important" >Cobertura:</label>
                                <div class="m-b col-lg-3">
                                    <input type="text" required placeholder="Seleccione Cobertura" id="nombrePrestador"
                                        name="nombrePrestador" class="heigth25 col-lg-12" maxlength="255" [(ngModel)]="cobertura.NombreCobertura" #NombreCobertura="ngModel">
                                    <a (click)="listarConvenios()" class="lupita"><i class="fa fa-search"></i></a>


                                </div>

                                <label class="col-lg-1 control-label" style="padding-left:10px !important">Tipo Cobertura:</label>
                                <div class="m-b col-lg-3">
                                    <select required class="form-select-control" id="seleccionTipoCobertura"
                                        name="seleccionTipoCobertura" [(ngModel)]="cobertura.Tipo" #TipoCobertura="ngModel">
                                        <option [ngValue]="undefined" selected>Seleccione...</option>
                                        <option [ngValue]="constantesCorporativo.TIPO_AMBULATORIO">Ambulatorio</option>
                                        <option [ngValue]="constantesCorporativo.TIPO_HOSPITALARIO">Hospitalario</option>
                                        <option [ngValue]="constantesCorporativo.TIPO_AMBOS">Ambos</option>
                                    </select>
                                </div>

                                <label class="col-lg-1 control-label" style="padding-left:10px !important">Limite:</label>
                                <div class="col-lg-1">
                                    <input type="number" id="Limite" placeholder="0" min="1" name="Limite" class="heigth25 col-lg-12"
                                        [(ngModel)]="cobertura.Monto" #Limite="ngModel" />
                                </div>
                                <div class="m-b col-lg-2">
                                    <select required class="form-select-control heigth25" id="congenitas" name="congenitas" [(ngModel)]="cobertura.Maximo">
                                        <option [ngValue]="undefined" selected>Seleccione...</option>
                                        <option *ngFor="let maximos of respuestasMaximos" [ngValue]="maximos.codigo">{{maximos.mensaje}}</option>
                                    </select>
                                </div>

                            </fieldset>
                            <fieldset class="col-lg-12">
                                <label class="col-lg-1 control-label" style="padding-left:10px !important">aplica-red-convenio:</label>
                                <div class="m-b col-lg-3">
                                    <select required class="form-select-control heigth25" id="congenitas" name="congenitas" [(ngModel)]="cobertura.AplicaRedConvenio">
                                        <option [ngValue]="undefined" selected>Seleccione...</option>
                                        <option *ngFor="let res of respuestas" [ngValue]="res.codigo">{{res.mensaje}}</option>
                                    </select>
                                </div>

                                <label class="col-lg-1 control-label" style="padding-left:10px !important">aplica-red-privada:</label>
                                <div class="m-b col-lg-3">
                                    <select required class="form-select-control heigth25" id="congenitas" name="congenitas" [(ngModel)]="cobertura.AplicaRedPrivada">
                                        <option [ngValue]="undefined" selected>Seleccione...</option>
                                        <option *ngFor="let res of respuestas" [ngValue]="res.codigo">{{res.mensaje}}</option>
                                    </select>
                                </div>

                                <label class="col-lg-1 control-label" style="padding-left:10px !important">aplica-red-especifica:</label>
                                <div class="m-b col-lg-3">
                                    <select required class="form-select-control heigth25" id="congenitas" name="congenitas" [(ngModel)]="cobertura.AplicaRedEspecifica">
                                        <option [ngValue]="undefined" selected>Seleccione...</option>
                                        <option *ngFor="let res of respuestas" [ngValue]="res.codigo">{{res.mensaje}}</option>
                                    </select>
                                </div>

                            </fieldset>
                            <fieldset class="col-lg-12">
                                <label class="col-lg-1 control-label" style="padding-left:10px !important">aplica-otros-no-convenio:</label>
                                <div class="m-b col-lg-3">
                                    <select required class="form-select-control heigth25" id="congenitas" name="congenitas" [(ngModel)]="cobertura.AplicaOtros">
                                        <option [ngValue]="undefined" selected>Seleccione...</option>
                                        <option *ngFor="let res of respuestas" [ngValue]="res.codigo">{{res.mensaje}}</option>
                                    </select>
                                </div> 
                                <label class="col-lg-1 control-label" style="padding-left:10px !important">dias-carencia-amb:</label>
                                <div class="m-b col-lg-3">
                                    <input type="number" placeholder="0" id="dias-carencia-amb" name="dias-carencia-amb"
                                        class="heigth25 col-lg-12" [(ngModel)]="cobertura.DiasCarenciaAmbulatoria"
                                        #DiasCarenciaAmbulatoria="ngModel" />
                                </div>

                                <label class="col-lg-1 control-label" style="padding-left:10px !important">dias-carencia-hosp:</label>
                                <div class="m-b col-lg-3">
                                    <input type="number" placeholder="0" id="dias-carencia-hosp" name="dias-carencia-hosp"
                                        class="heigth25 col-lg-12" [(ngModel)]="cobertura.DiasCarenciaHospitalaria"
                                        #DiasCarenciaHospitalaria="ngModel" />
                                </div>
                            </fieldset>
                            <fieldset class="col-lg-12 col-xs-12 text-center">
                                <button class="btn btn-primary" *ngIf="isActualizar" (click)="ActualizarCobertura(cobertura)"><i class="fa fa-save"></i> Actualizar</button>                                                                
                                <button class="btn btn-primary" *ngIf="isNueva" (click)="NuevaCobertura()"><i class="fa fa-save"></i> Guardar</button>                                
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Prestadores -->
    <div id="prestadorModalDiv">
        <div class="modal inmodal fade" id="prestadorViewModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="col-lg-12 m-t-sm no-padding">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h5 class="panel-title">{{popupTitle}}</h5>
                            </div>
                            <div class="panel-body panelDatos">
                                <div class="table-responsive" style="overflow-y: auto;max-height: 350px;">
                                    <table id="tablaPrestadores" class="table table-striped table-bordered table-hover dataTable">
                                        <thead>
                                            <tr>
                                                <th class="centerMiddle no-left-border">Codigo</th>
                                                <th class="centerMiddle">Nombre Cobertura</th>
                                        </thead>
                                        <tbody id="bodyPrestador" class="no-borders selectableBodyTable">
                                            <tr id="prestador{{i}}" [class.active]="cobertura.Selected" title="{{!cobertura.Selected ? 'Click para seleccionar' : ''}}"
                                                (click)="!cobertura.Selected ? seleccionarCobertura(cobertura) : return;"
                                                *ngFor="let cobertura of coberturas; let i = index">
                                                <td class="centerMiddle">{{cobertura.CodigoCobertura}}</td>
                                                <td class="centerMiddle">{{cobertura.NombreCobertura}}</td>
                                            </tr>
                                            <tr *ngIf="coberturas!=undefined && coberturas.length == 0">
                                                <td colspan="9" class="alignCenter">No existen resultados</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>