<div class="col-xs-12 no-padding m-t-xs m-b-sm">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h5 class="panel-title"> CITA POR CLIENTE - CONTRATO NO. {{ contratoKey.NumeroContrato }} </h5>
        </div>
        <div class="panel-body">
            <form name="datosCobranzaForm" role="form" #datosCobranzaForm="ngForm">
                
                <div class="col-lg-12">  
                    <legend class="info"> DATOS GENERALES </legend>
                </div>

                <div class="col-lg-12">  
                    <label class="col-lg-2 control-label" for="fecha">Fecha:</label>
                    <div class="m-b col-lg-4">
                        <datetime  [readonly]="true" enableOnReadonly="false" class="heigth25 col-lg-12 no-padding" [timepicker]="false" id="fecha" name="fecha" [(ngModel)]="CitaCliente.FechaPlanificacion"
                            [datepicker]="datepickerOpts" ></datetime>
                    </div>
                
                    <label class="col-lg-2 control-label" >Realizada por:</label>
                    <div class="col-lg-4">
                        <input type="text" placeholder="Realizada Por" [(ngModel)]="CitaCliente.RealizadoPor" id="realizadoPor" name="realizadoPor"
                            class="heigth25 form-control col-lg-12" disabled/>
                    </div> 
                </div>

                <div class="col-lg-12 m-b">  
                    <label class="col-lg-2 control-label" >Cliente:</label>
                    <div class="col-lg-10">
                        <input type="text" placeholder="Cliente" [(ngModel)]="CitaCliente.NombreCliente" id="cliente" name="cliente"
                            class="heigth25 form-control col-lg-12" disabled/>
                    </div> 
                </div>

                <div class="col-lg-12 m-b">  
                    <label class="col-lg-2 control-label" > Dirección 1:</label>
                    <div class="col-lg-10">
                        <input type="text" placeholder="Dirección 1" [(ngModel)]="CitaCliente.Direccion1" id="direccion1" name="direccion1"
                            class="heigth25 form-control col-lg-12" disabled/>
                    </div> 
                </div>

                <div class="col-lg-12 m-b"> 
                    <label class="col-lg-2 control-label" > Dirección 2:</label>
                    <div class="col-lg-10">
                        <input type="text" placeholder="Dirección 2" [(ngModel)]="CitaCliente.Direccion2" id="direccion2" name="direccion2"
                            class="heigth25 form-control col-lg-12" disabled/>
                    </div> 
                </div>

                <div class="col-lg-12 m-b">  
                    <label class="col-lg-2 control-label" > Dirección 1:</label>
                    <div class="col-lg-10">
                        <input type="text" placeholder="Dirección 3" [(ngModel)]="CitaCliente.Direccion3" id="direccion3" name="direccion3"
                            class="heigth25 form-control col-lg-12" disabled/>
                    </div> 
                </div>
            
                <div class="col-lg-12 m-b" > 
                    <label class="col-lg-2 control-label" > Dirección Cita:</label>
                    <div class="col-lg-10">
                        <select class="form-control heigth25  no-padding" id="direccionCita" name="direccionCita" [(ngModel)]="CitaCliente.DireccionCita" #direccionCita="ngModel">
                            <option *ngFor="let op of optionsForDireccionCita" [value]="op"> {{ op }} </option>
                        </select>
                    </div> 
                </div>

                <div class="col-lg-12 m-b" > 
                    <label class="col-lg-2 control-label" > Sector:</label>
                    <div class="col-lg-4">
                        <select class="form-control heigth25  no-padding" id="Sector" name="Sector" [(ngModel)]="CitaCliente.Sector" #Sector="ngModel">
                            <option *ngFor="let sector of utilidadesGenericas.sectores" [value]="sector.value"> {{ sector.label }} </option>
                        </select>
                    </div> 
                    <label class="col-lg-2 control-label" > Teléfono:</label>
                    <div class="col-lg-4">
                        <input type="text" placeholder="Telefono" [(ngModel)]="telefonos" id="Telefono" name="Telefono"
                            class="heigth25 form-control col-lg-12" disabled/>
                    </div> 
                </div>

                <div class="col-lg-12 m-b" > 
                    <label class="col-lg-2 control-label" > Cita Periodica:</label>
                    <div class="col-lg-4">
                        <select class="form-control heigth25  no-padding" id="citaPeriodica" name="citaPeriodica" [(ngModel)]="CitaCliente.CitaPeriodica" #citaPeriodica="ngModel">
                            <option [value]="1"> Si </option>
                            <option [value]="0"> No </option>
                        </select>
                    </div> 

                    <label class="col-lg-2 control-label" > Sucursal: </label>
                    <div class="col-lg-4">
                        <select class="form-control heigth25  no-padding" id="Sucursal" name="Sucursal" [(ngModel)]="CitaCliente.CodigoSucursal" #Sucursal="ngModel">
                            <option *ngFor="let sucursal of sucursalesDeRegion" [value]="sucursal.CodigoSucursal"> {{ sucursal.NombreSucursal }} </option>
                        </select>
                    </div> 
                </div>

                <div class="col-lg-12 m-b" > 
                    <label class="col-lg-2 control-label" > Grupal / Individual: </label>
                    <div class="col-lg-4">
                        <select disabled class="form-control heigth25  no-padding" id="GrupalIndividual" name="GrupalIndividual" [(ngModel)]="individualOGrupal" #GrupalIndividual="ngModel">
                            <option [value]="'Individual'"> Individual </option>
                            <option [value]="'Grupal'"> Grupal </option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" placeholder="razonSocial" [(ngModel)]="contratoKey.RazonSocial" id="razonSocial" name="razonSocial"
                            class="heigth25 form-control col-lg-12" disabled/>
                    </div> 
                </div>

                <div class="col-lg-12 m-b" > 
                    <label class="col-lg-2 control-label" > Observaciones: </label>
                    <div class="col-lg-10">
                        <textarea disabled rows="6" class="form-control col-lg-12" type="text" placeholder="Observaciones" [(ngModel)]="CitaCliente.Observacion" id="observaciones" name="observaciones"></textarea>
                    </div>
                </div>

                <div class="col-lg-12 m-b" > 
                    <label class="col-lg-2 control-label" > Meses en Mora: </label>
                    <div class="col-lg-4">
                        <input disabled type="number" placeholder="Meses en Mora" [(ngModel)]="CitaCliente.MesesCobro" id="MesesCobro" name="MesesCobro" class="heigth25 form-control col-lg-12" />
                    </div>

                    <label class="col-lg-2 control-label" > Meses A Cobrar: </label>
                    <div class="col-lg-4">
                        <input disabled type="number" placeholder="Meses a Cobrar" [(ngModel)]="CitaCliente.MesesACobrar" id="MesesACobrar" name="MesesACobrar" class="heigth25 form-control col-lg-12" />
                    </div>
                </div> 
                
                <div class="col-lg-12 m-b text-center">
                    <div class="col-lg-1" *ngIf="mesesEnPantalla.includes('Ene')">
                        <input type="checkbox" name="Enero" id="Enero" (change)="actualizarMesesACobrar('#Enero')">
                        Enero
                    </div>
                    <div class="col-lg-1" *ngIf="mesesEnPantalla.includes('Feb')">
                        <input type="checkbox" name="Febrero"  id="Febrero" (change)="actualizarMesesACobrar('#Febrero')">
                        Febrero
                    </div>
                    <div class="col-lg-1" *ngIf="mesesEnPantalla.includes('Mar')">
                        <input type="checkbox" name="Marzo" id="Marzo" (change)="actualizarMesesACobrar('#Marzo')">
                        Marzo
                    </div>
                    <div class="col-lg-1" *ngIf="mesesEnPantalla.includes('Abr')">
                        <input type="checkbox" name="Abril" id="Abril" (change)="actualizarMesesACobrar('#Abril')">
                        Abril 
                    </div>
                    <div class="col-lg-1" *ngIf="mesesEnPantalla.includes('May')">
                        <input type="checkbox" name="Mayo" id="Mayo" (change)="actualizarMesesACobrar('#Mayo')">
                        Mayo
                    </div>
                    <div class="col-lg-1" *ngIf="mesesEnPantalla.includes('Jun')">
                        <input type="checkbox" name="Junio" id="Junio" (change)="actualizarMesesACobrar('#Junio')">
                        Junio
                    </div>
                    <div class="col-lg-1" *ngIf="mesesEnPantalla.includes('Jul')">
                        <input type="checkbox" name="Julio" id="Julio" (change)="actualizarMesesACobrar('#Julio')">
                        Julio 
                    </div>
                    <div class="col-lg-1" *ngIf="mesesEnPantalla.includes('Ago')">
                        <input type="checkbox" name="Agosto" id="Agosto" (change)="actualizarMesesACobrar('#Agosto')">
                        Agosto
                    </div>
                    <div class="col-lg-1" *ngIf="mesesEnPantalla.includes('Sep')">
                        <input type="checkbox" name="Septiembre" id="Septiembre" (change)="actualizarMesesACobrar('#Septiembre')">
                        Septiembre
                    </div>
                    <div class="col-lg-1" *ngIf="mesesEnPantalla.includes('Oct')">
                        <input type="checkbox" name="Octubre"  id="Octubre" (change)="actualizarMesesACobrar('#Octubre')">
                        Octubre
                    </div>
                    <div class="col-lg-1" *ngIf="mesesEnPantalla.includes('Nov')">
                        <input type="checkbox" name="Noviembre" id="Noviembre" (change)="actualizarMesesACobrar('#Noviembre')">
                        Noviembre
                    </div>
                    <div class="col-lg-1" *ngIf="mesesEnPantalla.includes('Dic')">
                        <input type="checkbox" name="Diciembre" id="Diciembre" (change)="actualizarMesesACobrar('#Diciembre')">
                        Diciembre 
                    </div>
                </div>

                <div class="col-lg-12 m-b" > 
                    <label class="col-lg-2 control-label" > Monto: </label>
                    <div class="col-lg-2">
                        <input disabled type="number" step="0.01" placeholder="Monto" [(ngModel)]="CitaCliente.Monto" id="Monto" name="Monto" class="heigth25 form-control col-lg-12" />
                    </div>

                    <label class="col-lg-2 control-label" > Monto Total a Cobrar: </label>
                    <div class="col-lg-2">
                        <input type="number" step="0.01" placeholder="Monto total a cobrar" [(ngModel)]="CitaCliente.MontoACobrar" id="MontoACobrar" name="MontoACobrar" class="heigth25 form-control col-lg-12" />
                    </div>

                    <label class="col-lg-2 control-label" > Monto Mensual a Cobrar: </label>
                    <div class="col-lg-2">
                        <input type="number" step="0.01" placeholder="Monto mensual a cobrar" [(ngModel)]="CitaCliente.MontoMensual" id="MontoMensual" name="MontoMensual" class="heigth25 form-control col-lg-12" />
                    </div>
                </div> 
                
                
                <div class="col-lg-12">  
                    <legend class="info"> PLANIFICACION </legend>
                </div>
                <div class="col-lg-12">  
                    <label class="col-lg-2 control-label" for="fechCita">Fecha de Cita:</label>
                    <div class="m-b col-lg-4">
                        <datetime required class="heigth25 col-lg-12 no-padding" [timepicker]="false" id="fechaCita" name="fechaCita" [(ngModel)]="CitaCliente.FechaCita"
                            [datepicker]="datepickerOpts" #fechaCita="ngModel" [min]="fechaHoy"> 
                        </datetime>
                        <div [hidden]="fechaCita.valid || fechaCita.pristine" class="error">
                            <p *ngIf="fechaCita.errors?.min">La fecha debe ser igual o mayor al día de hoy</p>
                            <p *ngIf="fechaCita.errors?.required">El campo es requerido</p>
                        </div>
                    </div>
                
                    <label class="col-lg-2 control-label" >Hora: </label>
                    <div class="col-lg-4">
                        <input required type="time" placeholder="Hora" [(ngModel)]="CitaCliente.Hora" id="Hora" name="Hora"
                            class="heigth25 form-control col-lg-12"  #Hora="ngModel"/>
                        <div [hidden]="Hora.valid || Hora.pristine" class="error">
                            <p *ngIf="Hora.errors?.min">La hora debe ser mayor a la actual</p>
                            <p *ngIf="Hora.errors?.required">El campo es requerido</p>
                        </div>
                        <!-- <datetime required [timepicker]="{ showMeridian: false, minuteStep: 1 }" [datepicker]="false" [(ngModel)]="CitaCliente.Hora" id="Hora" name="Hora" #Hora="ngModel" 
                            [datepicker]="datepickerOpts"></datetime>
                        <div [hidden]="Hora.valid || Hora.pristine" class="error">
                            <p *ngIf="Hora.errors?.min">La hora debe ser mayor a la actual</p>
                            <p *ngIf="Hora.errors?.required">El campo es requerido</p>
                        </div> -->
                    </div> 
                </div>

                <div class="col-lg-12 m-b">
                    <label class="col-lg-2 control-label" >Contacto:</label>
                    <div class="col-lg-10">
                        <input required type="text" placeholder="Contacto" [(ngModel)]="CitaCliente.Contacto" id="Contacto" name="Contacto"
                            class="heigth25 form-control col-lg-12" #Contacto="ngModel"/>
                         <div [hidden]="Contacto.valid || Contacto.pristine" class="error">
                            <p *ngIf="Contacto.errors?.required">El campo es requerido</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-12 text-center m-b">  
                    <button class="btn btn-w-m btn-success btn-sm" [disabled]="!(datosCobranzaForm.form.valid && CitaCliente.Monto > 0)" (click)="insertarCitaCliente()">
                        <i class="fa fa-calendar-check-o"></i> Agendar Cita
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
