<div class="col-xs-12 no-padding m-t-xs m-b-sm">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h5 class="panel-title">Notas de Crédito Masivas</h5>
        </div>
        <div class="panel-body">
            <form name="emitirNotasMasivasForm" role="form" #emitirNotasMasivasForm="ngForm">
                <fieldset class="col-lg-12 m-t-md no-padding">
                    <label class="col-lg-2 control-label">Causa NC:</label>
                    <div class="col-lg-4">
                        <select required class="form-select-control m-b" id="slcCausaNC" name="slcCausaNC" [(ngModel)]="filterEmitir.MotivoNota"
                            #slcCausaNC="ngModel">
                            <option [ngValue]="undefined" selected>Seleccione...</option>
                            <option *ngFor="let nc of motivosNotaCredito" [value]="nc.Valor">{{nc.Valor}}</option>
                        </select>
                        <div [hidden]="slcCausaNC.valid" class="error">
                            <p *ngIf="slcCausaNC.errors?.required">Campo Requerido</p>
                        </div>
                    </div>

                    <label class="col-lg-2 control-label">Causa Salud:</label>
                    <div class="col-lg-4">
                        <select required class="form-select-control m-b" id="slcCausaSalud" name="slcCausaSalud" [(ngModel)]="filterEmitir.MotivoSalud"
                            #slcCausaSalud="ngModel">
                            <option [ngValue]="undefined" selected>Seleccione...</option>
                            <option *ngFor="let salud of motivosSalud" [value]="salud.Valor">{{salud.Valor}}</option>
                        </select>
                        <div [hidden]="slcCausaSalud.valid" class="error">
                            <p *ngIf="slcCausaSalud.errors?.required">Campo Requerido</p>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="col-lg-12 no-padding">
                    <label class="col-lg-2 control-label">Forma Pago:</label>
                    <div class="col-lg-4">
                        <select required class="form-select-control m-b" id="slcFormaPago" name="slcFormaPago" [(ngModel)]="filterEmitir.FormaPago"
                            #slcFormaPago="ngModel">
                            <option [ngValue]="undefined" selected>Seleccione...</option>
                            <option [ngValue]="2" selected>Abono Cuota</option>
                            <option [ngValue]="3" selected>Cheque/Transferencia</option>
                        </select>
                        <div [hidden]="slcFormaPago.valid" class="error">
                            <p *ngIf="slcFormaPago.errors?.required">Campo Requerido</p>
                        </div>
                    </div>

                    <label class="col-lg-2 control-label">Valor:</label>
                    <div class="m-b col-lg-4">
                        <input type="text" [(ngModel)]="filterEmitir.ValorAcreditado" id="valor" name="valor" class="heigth25 form-control col-lg-12"
                        />
                    </div>
                </fieldset>

                <fieldset class="col-lg-12 no-padding">
                    <label class="col-lg-2 control-label">Ciudad:</label>
                    <div class="col-lg-4">
                        <select required class="form-select-control m-b" id="slcCiudad" name="slcCiudad" [(ngModel)]="filterEmitir.Ciudad" #slcCiudad="ngModel">
                            <option [ngValue]="undefined" selected>Seleccione...</option>
                            <option [ngValue]="1" selected>Quito</option>
                            <option [ngValue]="2" selected>Guayaquil</option>
                            <option [ngValue]="3" selected>Cuenca</option>
                        </select>
                        <div [hidden]="slcCiudad.valid" class="error">
                            <p *ngIf="slcCiudad.errors?.required">Campo Requerido</p>
                        </div>
                    </div>

                    <label class="col-lg-2 control-label">Oficina:</label>
                    <div class="col-lg-4">
                        <select required class="form-select-control m-b" id="slcOficina" name="slcOficina" [(ngModel)]="filterEmitir.Oficina" #slcOficina="ngModel">
                            <option [ngValue]="undefined" selected>Seleccione...</option>
                            <option [ngValue]="1" selected>COB</option>
                            <option [ngValue]="2" selected>CONTAQ</option>
                        </select>
                        <div [hidden]="slcOficina.valid" class="error">
                            <p *ngIf="slcOficina.errors?.required">Campo Requerido</p>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="col-lg-12 no-padding">
                    <label class="col-lg-2 control-label">Seleccione Archivo:</label>
                    <input class="col-lg-4 col-md-4" type="file" [disabled]="haveMaxFiles()" id="file" (change)="handleFileInput($event.target.files)"
                    />
                    <div class="col-lg-4 col-md-4">
                        <div class="col-lg-12 col-md-12" *ngFor="let f of uploadFiles">
                            <a (click)="deleteFile(f)">
                                <i class="fa fa-close" aria-hidden="true"></i>
                            </a> {{f.Name}}
                        </div>
                    </div>
                </fieldset>

                <div class="col-lg-12 m-t-md no-padding">
                    <button class="btn btn-w-m btn-success btn-sm" type="button" (click)="emitir();" [disabled]="haveMaxFiles() || fileToUpload == null || !emitirNotasMasivasForm.form.valid">
                        <i class="fa fa-save"></i> Emitir
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>