<div class="row wrapper white-bg page-heading border-bottom">
    <div class="col-lg-12" >
        <div class="tab-content">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h5 class="panel-title"> Facturar Botón Pago </h5>
                </div>
                <div class="panel-body">
                    <form class="col-lg-12" name="formularioDatos" role="form" #formularioDatos="ngForm">

                        <span class="col-md-4 col-xs-4">
                                <input type="radio" name="opcionTodos" id="OpcionTodos" [(ngModel)]="opcionFacturar" [value]="1">
                                Todos
                            <input type="radio" name="opcionPorFecha" id="OpcionPorFecha" [(ngModel)]="opcionFacturar" [value]="2">
                                Por Fecha
                        </span>      

                        <span class="col-md-8 col-xs-8" *ngIf="opcionFacturar == 1">
                            <h2>&nbsp;</h2>
                        </span>

                        <span class="col-md-4 col-xs-4" *ngIf="opcionFacturar == 2">
                            <label for="FechaDesde">Fecha Desde:</label>
                            <div>
                                <datetime required class="heigth25  no-padding" [timepicker]="false" id="FechaDesde" name="FechaDesde" [(ngModel)]="filtroFechaDesdeHasta.FechaDesde"
                                    [datepicker]="datepickerOpts" #FechaDesde="ngModel"> 
                                </datetime>
                                <div [hidden]="FechaDesde.valid || FechaDesde.pristine" class="error">
                                    <p *ngIf="FechaDesde.errors?.required">El campo es requerido</p>
                                </div>
                            </div>
                        </span>

                        <span class="col-md-4 col-xs-4" *ngIf="opcionFacturar == 2">
                            <label for="FechaDesde">Fecha Hasta:</label>
                            <div>
                                <datetime required class="heigth25  no-padding" [timepicker]="false" id="FechaHasta" name="FechaHasta" [(ngModel)]="filtroFechaDesdeHasta.FechaHasta"
                                    [datepicker]="datepickerOpts" #FechaHasta="ngModel" [min]="filtroFechaDesdeHasta.FechaDesde"> 
                                </datetime>
                                <div [hidden]="FechaHasta.valid || FechaHasta.pristine" class="error">
                                    <p *ngIf="FechaHasta.errors?.min">Fecha Hasta debe ser mayor o igual a Fecha Desde</p>
                                    <p *ngIf="FechaHasta.errors?.required">El campo es requerido</p>
                                </div>
                            </div>
                        </span>   


                        <span class="col-md-4 col-xs-4 mTop5rem">
                            <label for="NombreArchivo"> Nombre Archivo Salida: </label>
                        </span>
                        <span class="col-md-4 col-xs-4 mTop3rem">
                            <input type="text" required class="heigth25  no-padding" id="NombreArchivo" name="NombreArchivo" [(ngModel)]="nombreArchivo"
                                #NombreArchivo="ngModel" pattern="^[^\\/:&quot;*?&lt;>|]+$" /> 
                            <div [hidden]="NombreArchivo.valid || NombreArchivo.pristine" class="error">
                                <p *ngIf="NombreArchivo.errors?.pattern">Escriba un nombre de archivo válido</p>
                                <p *ngIf="NombreArchivo.errors?.required">El campo es requerido</p>
                            </div>
                        </span>   

                        <span class="col-md-4 col-xs-4 mTop3rem">
                            <div class="col-lg-12"> <button class="btn btn-primary btn-block" [disabled]="!formularioDatos.form.valid" (click)="ConfirmarEjecutarFacturacionCobrosSaludPay()"> Facturar  </button> </div>    
                        </span>      
                        
                    </form> 
                </div>
            </div>
        </div>
    </div>

</div>
