<div class="col-xs-12 no-padding m-t-xs m-b-sm">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h5 class="panel-title">Consultar Funes</h5>
        </div>
        <div class="panel-body">
            <form name="anularFunForm" role="form" #anularFunForm="ngForm">
                <div class="form-group col-lg-12 no-padding">
                    <fieldset class="col-lg-12">
                        <legend class="info">Fitros de B&uacute;squeda</legend>

                        <div class="m-b col-lg-2">
                            <label class="control-label no-padding-left">N&uacute;mero Fun:</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" placeholder="N&uacute;mero de Fun" [(ngModel)]="funFilter.NumeroFun" id="numeroFun"
                                name="numeroFun" class="heigth25 form-control col-lg-12" />
                        </div>

                        <div class="m-b col-lg-2">
                            <label class="control-label no-padding-left">Número Serie:</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" placeholder="N&uacute;mero de Serie" [(ngModel)]="funFilter.NumeroSerie"
                                id="numeroSerieFun" name="numeroSerieFun" class="heigth25 form-control col-lg-12" />
                        </div>
                    </fieldset>

                    <fieldset class="col-lg-12">
                        <div class="m-b col-lg-2">
                            <label class="control-label no-padding-left">Fecha Desde:</label>
                        </div>
                        <div class="m-b col-lg-4">
                            <datetime class="heigth25 col-lg-12 no-padding" [timepicker]="false" id="fechaDesdeFun"
                                name="fechaDesdeFun" [(ngModel)]="funFilter.FechaDesde" [datepicker]="datepickerOpts"></datetime>
                        </div>

                        <div class="m-b col-lg-2">
                            <label class="control-label no-padding-left">Fecha Hasta:</label>
                        </div>
                        <div class="m-b col-lg-4">
                            <datetime class="heigth25 col-lg-12 no-padding" [timepicker]="false" id="fechaHastaFun"
                                name="fechaHastaFun" [(ngModel)]="funFilter.FechaHasta" [datepicker]="datepickerOpts"></datetime>
                        </div>
                    </fieldset>

                    <fieldset class="col-lg-12">

                        <div class="m-b col-lg-2">
                            <label class="control-label no-padding-left">Estado:</label>
                        </div>
                        <div class="m-b col-lg-4">
                            <select required class="form-select-control m-b" id="slcEstadoFun" name="slcEstadoFun"
                                [(ngModel)]="funFilter.Estado" #slcEstadoFun="ngModel">
                                <option [ngValue]="undefined" selected>Seleccione...</option>
                                <option [ngValue]="constantService.CODIGO_ESTADO_PENDIENTE">Pendiente</option>
                                <option [ngValue]="constantService.CODIGO_ESTADO_ASUME_COBRADO">Asume Cobrado</option>
                                <option [ngValue]="constantService.CODIGO_ESTADO_TRANSFERIDO">Transferido</option>
                                <option [ngValue]="constantService.CODIGO_ESTADO_EMITIDO">Emitido</option>
                                <option [ngValue]="constantService.CODIGO_ESTADO_PREEMITIDO">Preemitido</option>
                            </select>
                            <div [hidden]="slcEstadoFun.valid" class="error">
                                <p *ngIf="slcEstadoFun.errors?.required">Campo Requerido</p>
                            </div>
                        </div>

                        <div class="m-b col-lg-2">
                            <label class="control-label no-padding-left">Usuario Emisor:</label>
                        </div>
                        <div class="m-b col-lg-4">
                            <p *ngIf="funFilter.NombreUsuarioEmisor!=undefined">{{funFilter.NombreUsuarioEmisor}}</p>
                            <a (click)="abrirMolalUsuarios();">
                                <i class="fa fa-user-md"></i> {{funFilter.UsuarioEmisor==undefined ? 'Seleccionar' :
                                'Cambiar'}}
                            </a>
                        </div>
                    </fieldset>

                    <div class="col-lg-12 m-b">
                        <button class="btn btn-w-m btn-success btn-sm" (click)="loadFunes();" [disabled]="!anularFunForm.valid">
                            <i class="fa fa-search"></i> Buscar
                        </button>
                        <a (click)="limpiar();" class="btn btn-w-m btn-success btn-sm">Limpiar</a>
                    </div>
                </div>
            </form>

            <div id="divBusquedaMedicos" class="ibox-content" style="border-width:1px 0px 0px 0px;">
                <div class="dataTables_info">{{funService.paginationConstants.EncabezadoTabla}}</div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th class="centerMiddle">Número Fun</th>
                                <th class="centerMiddle">Número Serie</th>
                                <th class="centerMiddle">Usuario Emisor</th>
                                <th class="centerMiddle">Fecha Ingreso</th>
                                <th class="centerMiddle">Fecha Salida</th>
                                <th class="centerMiddle">Estado</th>
                            </tr>
                        </thead>
                        <tbody class="no-borders selectableBodyTable" *ngFor="let fun of listaFunes | paginate: {id : 'funTable', itemsPerPage: funService.paginationConstants.pageSize,currentPage: funService.paginationConstants.pageNumber, totalItems: funService.paginationConstants.total};">
                            <tr>
                                <td>{{fun.NumeroFun}}</td>
                                <td>{{fun.NumeroSerie}}</td>
                                <td>{{fun.AdUsuarioEmisor}}</td>
                                <td>{{fun.FechaEntrega | date: 'dd/MM/yyyy'}}</td>
                                <td>{{fun.FechaCierre | date: 'dd/MM/yyyy'}}</td>
                                <td>{{fun.DescripcionEstado}}</td>
                            </tr>

                        </tbody>
                        <tfoot *ngIf="funService.paginationConstants.total == 0">
                            <tr>
                                <td colspan="14" style="text-align: center;">No existen resultados de Búsqueda</td>
                            </tr>
                        </tfoot>
                    </table>
                    <pagination-controls id="funTable" maxSize="4" previousLabel="" nextLabel="" autoHide="true"
                        (pageChange)="funService.paginationConstants.pageNumber=$event;pageFunChanged();"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal listado de Personas -->
<div id="consultorModalDiv">
    <div class="modal inmodal fade" id="myModalListadoPersonas" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="col-lg-12 m-t-sm no-padding">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h5 class="panel-title">Listado de Personas</h5>
                        </div>
                        <div class="panel-body panelDatos">
                            <div class="table-responsive" style="overflow-y: auto;max-height: 350px;">
                                <table id="tablaMotivos" class="table table-striped table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th class="centerMiddle">Nombre Completo
                                                <input [(ngModel)]="nombrePersona" (input)="filtrarPersona($event.target.value)"
                                                    type="text" placeholder="Buscar..." id="buscarMotivo" name="buscarMotivo"
                                                    class="form-control heigth25">
                                            </th>
                                            <th class="centerMiddle">Usuario</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyMotivo" class="no-borders selectableBodyTable">
                                        <tr id="persona{{i}}" [class.active]="persona.Selected" title="{{!persona.Selected ? 'Click para seleccionar' : ''}}"
                                            (click)="!persona.Selected ? seleccionarPersona(persona) : return;" *ngFor="let persona of personasFiltradas; let i = index">
                                            <td class="centerMiddle">{{persona.NombreCompleto}}</td>
                                            <td class="centerMiddle">{{persona.Usuario}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>