<div class="col-xs-12 no-padding m-t-xs m-b-sm">
    <div class="panel panel-success" *ngIf="!modificaBeneficiarios">
        <div class="panel-heading">
            <h5 class="panel-title">Cambio de Titular</h5>
        </div>
        <div class="panel-body panelDatos">
            <form name="titularForm" role="form" #titularForm="ngForm">

                <fieldset class="col-lg-12">
                    <legend class="info">TITULAR</legend>
                    <label class="col-md-2">Nombre Titular:</label>
                    <span class="col-md-4">{{titular.NombreCompleto}}</span>
                    <label class="col-md-2">Edad:</label>
                    <span class="col-md-4">{{titular.Edad}}</span>

                    <label class="col-md-2">Numero Persona:</label>
                    <span class="col-md-4">{{titular.NumeroPersona}}</span>
                </fieldset>

                <fieldset class="col-lg-12">
                    <legend class="info">NUEVO TITULAR</legend>

                    <label class="col-md-2 clearInfo">Beneficiarios:</label>
                    <div class="m-b col-lg-4">
                        <select class="form-select-control" [(ngModel)]="numeroPersonaSeleccionado" id="numeroPersonaId" name="numeroPersonaId" #numeroPersonaId="ngModel"
                            (ngModelChange)="loadBeneficiarioSeleccionado()">
                            <option [value]="undefined" selected>Seleccione..</option>
                            <option *ngFor="let ben of beneficiarios" [value]="ben.NumeroPersona">{{ben.NombreCompleto}}</option>
                        </select>
                    </div>

                </fieldset>

                <fieldset class="col-lg-12">
                    <legend class="info">NUEVO TITULAR</legend>
                    <label class="col-md-2">Nombre Titular:</label>
                    <span class="col-md-4">{{beneficiarioSeleccionado.NombreCompleto}}</span>
                    <label class="col-md-2">Edad:</label>
                    <span class="col-md-4">{{beneficiarioSeleccionado.Edad}}</span>

                    <label class="col-md-2">Numero Persona:</label>
                    <span class="col-md-4">{{beneficiarioSeleccionado.NumeroPersona}}</span>
                </fieldset>



                <div class="col-lg-12 m-t-md">
                    <button class="btn btn-w-m btn-success btn-sm" (click)="cambiarTitular();" [disabled]="!titularForm.form.valid">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                </div>
            </form>

        </div>
    </div>

    <div id="demo" *ngIf="modificaBeneficiarios">
        <modBeneficiario [contratoKey]="_contratoKey"></modBeneficiario>
    </div>
</div>