<div class="form-group">
  <form class="col-lg-12 col-md-12" name="formularioArchivoSalida" role="form" #formularioArchivoSalida="ngForm">
    <div class="col-lg-12 col-md-12">
      <div class="col-lg-4 col-md-4 text-left">Seleccione el archivo para ser procesado:</div>
      <input class="col-lg-4 col-md-4" type="file" [disabled] = "haveMaxFiles()" id="file" (change)="handleFileInput($event.target.files)"/>
      <div class="col-lg-4 col-md-4">   
        <div class="col-lg-12 col-md-12">
          <button  class="btn btn-w-m btn-success btn-sm" 
                  (click)="confirmarUploadFileToActivity()" [disabled] = "haveMaxFiles() || fileToUpload == null || !formularioArchivoSalida.form.valid" 
                  name="Subir" 
                  value="Subir">
              <i class="fa fa-cogs"></i> Procesar Archivo
          </button>
        </div>
        <div class="col-lg-12 col-md-12" *ngFor="let f of uploadFiles">
          <a (click)="deleteFile(f)"><i class="fa fa-close" aria-hidden="true"></i></a> {{f.Name}}
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 mTop5rem" *ngIf="conArchivoSalida">
      <div class="col-lg-4 col-md-4 text-left">
          Nombre Archivo Salida:
      </div>
      <div class="ccol-lg-4 col-md-4 text-left">
          <input type="text" required class="heigth25  no-padding" id="NombreArchivo" name="NombreArchivo" [(ngModel)]="nombreArchivoSalida"
              #NombreArchivo="ngModel" pattern="^[^\\/:&quot;*?&lt;>|]+$" /> 
          <div [hidden]="NombreArchivo.valid || NombreArchivo.pristine" class="error">
              <p *ngIf="NombreArchivo.errors?.pattern">Escriba un nombre de archivo válido</p>
              <p *ngIf="NombreArchivo.errors?.required">El campo es requerido</p>
          </div>
        </div>    
    </div>
  </form>
</div>