<div class="col-lg-12 no-padding">
    <ul class="nav nav-tabs nestedTabs" role="tablist">
        <li class="nav-item active nestedTab">
            <a id="datosGeneralesTab" class="nav-link active" data-toggle="tab" href="#datosGenerales" role="tab">Datos
                Generales</a>
        </li>
        <li class="nav-item nestedTab">
            <a id="pagoInteligenteTab" class="nav-link" data-toggle="tab" href="#pagoInteligente" role="tab">Pago
                Inteligente</a>
        </li>
    </ul>
    <div class="tab-content nestedTabs">
        <div class="tab-pane active" id="datosGenerales" role="tabpanel">
            <div class="panel panel-success">
                <div class="panel-body panelDatos">
                    <div class="col-md-12 no-padding">
                        <div class="col-md-12 no-padding">
                            <label class="col-lg-2 control-label no-padding-left" for="slcPlan">Region:</label>
                            <span class="col-lg-2">{{contratoKey.CodigoRegion}}</span>
                            <label class="col-lg-2 control-label no-padding-left" for="slcPlan">Producto:</label>
                            <span class="col-lg-2">{{contratoKey.CodigoProducto}}</span>
                            <label class="col-lg-2 control-label no-padding-left" for="slcPlan">No Contrato:</label>
                            <span class="col-lg-2">{{contratoKey.NumeroContrato}}</span>
                        </div>
                        <div class="col-lg-12 no-padding">
                            <label class="col-lg-2 control-label no-padding-left" for="slcPlan">Cédula:</label>
                            <span class="col-lg-2">{{contratoKey.CedulaTitular}}</span>
                            <label class="col-lg-2 control-label no-padding-left" for="slcPlan">Nombres y Apellidos:</label>
                            <span class="col-lg-2">{{contratoKey.NombreTitular}}</span>
                            <label class="col-lg-2 control-label no-padding-left" for="slcPlan">Plan:</label>
                            <span class="col-lg-2">{{contratoKey.Plan}}</span>
                        </div>

                        <div class="col-lg-12 no-padding">
                            <label class="col-lg-2 control-label no-padding-left" for="slcPlan">Versión:</label>
                            <span class="col-lg-2">{{contratoKey.VersionPlan}}</span>
                            <label class="col-lg-2 control-label no-padding-left" for="slcPlan">Fecha Inicio:</label>
                            <span class="col-lg-2">{{contratoKey.FechaInicio | date: 'dd/MM/yyyy'}}</span>
                            <label class="col-lg-2 control-label no-padding-left" for="slcPlan">Fecha Fin:</label>
                            <span class="col-lg-2">{{contratoKey.FechaFin | date: 'dd/MM/yyyy'}}</span>
                        </div>

                        <div class="col-lg-12 no-padding">
                            <label class="col-lg-2 control-label no-padding-left" for="slcPlan">Estado:</label>
                            <span class="col-lg-2">{{contratoKey.ContratoEstado}}</span>

                            <label class="col-lg-2 control-label no-padding-left" for="slcPlan">Nombre Plan:</label>
                            <span class="col-lg-2">{{contratoKey.NombrePlan}}</span>

                            <label class="col-lg-2 control-label no-padding-left" for="slcPlan">Numero Sobre:</label>
                            <span class="col-lg-2">{{sobre.NumeroSobre}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="pagoInteligente" role="tabpanel">
            <div class="panel panel-success">
                <div class="panel-body panelDatos">
                    <div class="col-md-12 no-padding">
                        <div class="col-lg-12 no-padding">
                            <label class="col-lg-3 control-label no-padding-left" for="slcPlan">Numero Cuenta:</label>
                            <span class="col-lg-3">{{contratoKey.NumeroCuentaCredito}}</span>
                            <label class="col-lg-3 control-label no-padding-left" for="slcPlan">Tipo Cuenta:</label>
                            <span class="col-lg-3" *ngIf="contratoKey.TipoCuentaCredito ==1">Cuenta Corriente</span>
                            <span class="col-lg-3" *ngIf="contratoKey.TipoCuentaCredito ==2">Cuenta de Ahorro</span>
                            <span class="col-lg-3" *ngIf="contratoKey.TipoCuentaCredito ==3">Tarjeta</span>
                            <span class="col-lg-3" *ngIf="contratoKey.TipoCuentaCredito ==4">Pago Directo</span>
                        </div>
                        <div class="col-lg-12 no-padding">
                            <label class="col-lg-3 control-label no-padding-left" for="slcPlan">Banco:</label>
                            <span class="col-lg-3">{{contratoKey.NombreBancoPI}}</span>
                            <label class="col-lg-3 control-label no-padding-left" for="slcPlan">Email:</label>
                            <span class="col-lg-3">{{contratoKey.EmailDomicilio}}</span>
                        </div>

                        <div class="col-lg-12 no-padding">
                            <label class="col-lg-3 control-label no-padding-left" for="slcPlan">Celular:</label>
                            <span class="col-lg-3">{{contratoKey.Celular}}</span>
                            <label class="col-lg-3 control-label no-padding-left" for="slcPlan">Persona Contacto:</label>
                            <span class="col-lg-3">{{sobre.PersonaContacto}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="min-height: 70px;">

    <div class="col-xs-12 no-padding m-t-xs m-b-sm">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h5 class="panel-title">Datos de la Devolución</h5>
            </div>
            <div class="panel-body">

                <fieldset class="col-lg-12">
                    <legend class="info">GESTIÓN DE LA DEVOLUCIÓN</legend>

                    <label class="col-lg-2 control-label" for="fechaEnvio">Fecha de Envío:</label>
                    <div class="m-b col-lg-4">
                        <datetime class="heigth25 col-lg-12 no-padding" [timepicker]="false" id="fechaEnvio" name="fechaEnvio"
                            [(ngModel)]="sobre.FechaEnvio" [datepicker]="datepickerOpts"></datetime>
                    </div>

                    <label class="col-lg-2 control-label" for="fechaCourier">Fecha Courier:</label>
                    <div class="m-b col-lg-4">
                        <datetime class="heigth25 col-lg-12 no-padding" [timepicker]="false" id="fechaCourier" name="fechaCourier"
                            [(ngModel)]="sobre.FechaCourier" [datepicker]="datepickerOpts"></datetime>
                    </div>
                </fieldset>

                <fieldset class="col-lg-12">
                    <label class="col-lg-2 control-label" for="fechaGestion">Fecha Gestión:</label>
                    <div class="m-b col-lg-4">
                        <datetime class="heigth25 col-lg-12 no-padding" [timepicker]="false" id="fechaGestion" name="fechaGestion"
                            [(ngModel)]="sobre.FechaGestion" [datepicker]="datepickerOpts" (change)="fechaGestionChange();"></datetime>

                        <div class="" *ngIf="sobre.FechaGestion == undefined">
                            <label class="col-md-12 no-padding " style="color: #ff0000;font-weight: normal;font-size: smaller;">Campo
                                Requerido</label>
                        </div>
                    </div>
                </fieldset>

                <legend class="info col-lg-12">BENEFICIARIOS</legend>
                <div id="divBusquedaMedicos" class="ibox-content" style="border-width:0px 0px 0px 0px;">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th class="centerMiddle">Sel:</th>
                                    <th class="centerMiddle">Beneficiario:</th>
                                    <th class="centerMiddle">Tipo Identificación</th>
                                    <th class="centerMiddle">Identificación</th>
                                    <th class="centerMiddle">Género</th>
                                    <th class="centerMiddle">Estado Beneficiario</th>
                                    <th class="centerMiddle">Estado en Sobre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let detalleSobre of sobre.DetalleSobre">
                                    <td class="centerMiddle clickableColumn">
                                        <a title="Clic para ver los detalles del Consultor">
                                            <i class="fa fa-book" (click)="abrirModalDetalleSobre(detalleSobre);"></i>
                                        </a>
                                        <a title="Clic para gestionar al Beneficiario">
                                            <i class="fa fa-edit" (click)="abrirModalGestionSobre(detalleSobre);"></i>
                                        </a>
                                    </td>
                                    <td>{{detalleSobre.NombrePersona}}</td>
                                    <td>{{detalleSobre.TipoDocumento}}</td>
                                    <td>{{detalleSobre.DocumentoPersona}}</td>
                                    <td>{{detalleSobre.GeneroPersona}}</td>
                                    <td>{{detalleSobre.EstadoPersona}}</td>
                                    <td>{{detalleSobre.DescripcionEstado}}</td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="sobre.DetalleSobre.length == 0">
                                <tr>
                                    <td colspan="14" style="text-align: center;">No existen Beneficiarios</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>


                <fieldset class="col-lg-12 no-padding">
                    <legend class="info">RECUERDE</legend>

                    <div class="col-lg-12 checkbox icheck-primary" style="padding-left: 15px!important;">
                        <input type="checkbox" name="seleccionNota1" id="seleccionNota1" [checked]="sobre.Nota1"
                            [(ngModel)]="sobre.Nota1" #seleccionNota1="ngModel" [disabled]="true">
                        <label class="control-label" for="seleccionNota1">
                            {{constantesSobres.DESCRIPCION_NOTA_1}}
                        </label>
                    </div>

                    <div class="col-lg-12 checkbox icheck-primary" style="padding-left: 15px!important;">
                        <input type="checkbox" name="seleccionNota2" id="seleccionNota2" [checked]="sobre.Nota2"
                            [(ngModel)]="sobre.Nota2" #seleccionNota2="ngModel" [disabled]="true">
                        <label class="control-label" for="seleccionNota2">
                            {{constantesSobres.DESCRIPCION_NOTA_2}}
                        </label>
                    </div>

                    <div class="col-lg-12 checkbox icheck-primary" style="padding-left: 15px!important;">
                        <input type="checkbox" name="seleccionNota3" id="seleccionNota3" [checked]="sobre.Nota3"
                            [(ngModel)]="sobre.Nota3" #seleccionNota3="ngModel" [disabled]="true">
                        <label class="control-label" for="seleccionNota3">
                            {{constantesSobres.DESCRIPCION_NOTA_3}}
                        </label>
                    </div>
                </fieldset>

                <div class="col-lg-12 no-padding">
                    <button class="btn btn-w-m btn-success btn-sm" [disabled]="sobre.FechaGestion == undefined" (click)="guardarGestion();">
                        <i class="fa fa-save"></i>Guardar
                    </button>
                    <button class="btn btn-w-m btn-success btn-sm" id="btnGenerar" (click)="view()">
                        <i class="fa fa-refresh"></i> Visualizar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Detalle -->
<div id="detalleSobreModalDiv">
    <div class="modal inmodal fade" id="detalleSobreViewModal" tabindex="-1" role="dialog" aria-hidden="false"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="col-lg-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h5 class="panel-title">Detalle del Sobre</h5>
                        </div>
                        <div class="panel-body panelDatos">
                            <fieldset class="col-lg-12 m-b">
                                <legend class="info">DETALLE DEL SOBRE</legend>

                                <div class="col-lg-1" style="padding-left:10px !important">
                                    <label class="control-label">Código:</label>
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" id="codigoSobrePersona" name="codigoSobrePersona" class="heigth25 form-control col-lg-12"
                                        [(ngModel)]="detalleSobreSelected.NumeroSolicitudDetalle" [disabled]="true" />
                                </div>

                                <div class="col-lg-1" style="padding-left:10px !important">
                                    <label class="control-label">Valor:</label>
                                </div>
                                <div class="col-lg-3">
                                    <input type="number" id="valorBonificado" name="valorBonificado" class="heigth25 form-control col-lg-12"
                                        min="0" step="1" [(ngModel)]="detalleSobreSelected.ValorPresentadoDetalle" [disabled]="true" />
                                </div>

                                <div class="col-lg-1" style="padding-left:10px !important">
                                    <label class="control-label padding-left">Estado:</label>
                                </div>
                                <div class="col-lg-3">
                                    <select required class="form-select-control" id="seleccionEstadoSobre" name="seleccionEstadoSobre"
                                        [(ngModel)]="detalleSobreSelected.IdEstado" #seleccionEstadoSobre="ngModel"
                                        [disabled]="true">
                                        <option [ngValue]="undefined" selected>Seleccione...</option>
                                        <option *ngFor="let estado of estados" [value]="estado.Id">{{estado.Valor}}</option>
                                    </select>
                                    <div [hidden]="seleccionEstadoSobre.valid" class="error">
                                        <p *ngIf="seleccionEstadoSobre.errors?.required">Campo Requerido</p>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="col-lg-12 m-b">
                                <div class="col-lg-1" style="padding-left:10px !important">
                                    <label class="control-labe">Cobertura:</label>
                                </div>

                                <div class="col-lg-3">
                                    <select required class="form-select-control col-lg-12" id="seleccionTipoCobertura"
                                        name="seleccionTipoCobertura" [(ngModel)]="detalleSobreSelected.IdTipoCobertura"
                                        #seleccionTipoCobertura="ngModel" [disabled]="true">
                                        <option [ngValue]="undefined" selected>Seleccione...</option>
                                        <option *ngFor="let tipoCobertura of tiposCobertura" [value]="tipoCobertura.IdTipoCobertura">{{tipoCobertura.NombreTipoCobertura}}</option>
                                    </select>
                                    <div [hidden]="seleccionTipoCobertura.valid" class="error">
                                        <p *ngIf="seleccionTipoCobertura.errors?.required">Campo Requerido</p>
                                    </div>
                                </div>

                                <div class="col-lg-1" style="padding-left:10px !important">
                                    <label class="control-label">Tiene Novedad:</label>
                                </div>

                                <div class="col-lg-3">
                                    <select required class="form-select-control" id="seleccionNovedad" name="seleccionNovedad"
                                        [(ngModel)]="detalleSobreSelected.Novedad" #seleccionNovedad="ngModel"
                                        [disabled]="true">
                                        <option [ngValue]="undefined" selected>Seleccione...</option>
                                        <option [ngValue]="false" selected>No</option>
                                        <option [ngValue]="true">Si</option>
                                    </select>
                                    <div [hidden]="seleccionNovedad.valid" class="error">
                                        <p *ngIf="seleccionNovedad.errors?.required">Campo Requerido</p>
                                    </div>
                                </div>

                                <div class="col-lg-1" style="padding-left:10px !important">
                                    <label class="control-label ">Escoja la Novedad:</label>
                                </div>

                                <div class="col-lg-3">
                                    <select required class="form-select-control m-b" id="seleccionIdNovedad" name="seleccionIdNovedad"
                                        [(ngModel)]="detalleSobreSelected.IdNovedad" #seleccionIdNovedad="ngModel"
                                        [disabled]="true">
                                        <option [ngValue]="undefined" selected>Seleccione...</option>
                                        <option *ngFor="let nov of novedad" [value]="nov.Id">{{nov.Valor}}</option>
                                    </select>
                                    <div [hidden]="seleccionIdNovedad.valid" class="error">
                                        <p *ngIf="seleccionIdNovedad.errors?.required">Campo Requerido</p>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="col-lg-12 m-b">
                                <div class="col-lg-1" style="padding-left:10px !important">
                                    <label class="control-label ">Observaciones:</label>
                                </div>
                                <div class="col-lg-11">
                                    <input type="text" id="observacionesGenerales" name="observacionesGenerales" class="heigth25 form-control col-lg-12"
                                        [(ngModel)]="detalleSobreSelected.ObservacionesConsultor" [disabled]="true" />
                                </div>
                            </fieldset>

                            <fieldset class="col-lg-12" *ngIf="detalleSobreSelected.IdEstado == constantesSobres.CODIGO_ESTADO_SOBRE_QPRA || ( detalleSobreSelected.IdTipoDevolucion != constantesSobres.ID_TIPO_DEVOLUCION_PARCIAL &&  detalleSobreSelected.IdTipoDevolucion != undefined )">
                                <div class="col-lg-1" style="padding-left:10px !important">
                                    <label class="control-label ">Número Qpra:</label>
                                </div>

                                <div class="col-lg-3">
                                    <input type="text" id="numeroQpra" name="numeroQpra" class="heigth25 form-control col-lg-12"
                                        [(ngModel)]="sobre.NumeroQpra" [disabled]="true" />
                                </div>
                            </fieldset>

                            <fieldset class="col-lg-12 m-b">
                                <legend class="info">DEVOLUCIÓN</legend>

                                <div class="col-lg-2" style="padding-left:10px !important">
                                    <label class="control-label">Tipo de devolución:</label>
                                </div>
                                <div class="col-lg-4">
                                    <select required class="form-select-control col-lg-12" id="seleccionTipoDevolucion"
                                        name="seleccionTipoDevolucion" [(ngModel)]="detalleSobreSelected.IdTipoDevolucion"
                                        #seleccionTipoDevolucion="ngModel" [disabled]="true" [disabled]="detalleSobreSelected.IdNovedad != constantesSobres.ID_NOVEDAD_DEVOLUCION">
                                        <option [value]="undefined" selected>Seleccione...</option>
                                        <option *ngFor="let tipoDevolucion of tiposDevolucion" [value]="tipoDevolucion.IdTipoDevolucion">{{tipoDevolucion.NombreTipoDevolucion}}</option>
                                    </select>
                                    <div [hidden]="seleccionTipoDevolucion.valid" class="error">
                                        <p *ngIf="seleccionTipoDevolucion.errors?.required">Campo Requerido</p>
                                    </div>
                                </div>

                                <div class="col-lg-2" style="padding-left:10px !important">
                                    <label class="control-label">Tipo de Carta:</label>
                                </div>
                                <div class="col-lg-4">
                                    <select required class="form-select-control col-lg-12" id="seleccionTipoCarta" name="seleccionTipoCarta"
                                        [(ngModel)]="detalleSobreSelected.IdTipoCarta" #seleccionTipoCarta="ngModel"
                                        [disabled]="true">
                                        <option [ngValue]="undefined" selected>Seleccione...</option>
                                        <option *ngFor="let tipo of tipoCarta" [value]="tipo.Id">{{tipo.Valor}}</option>
                                    </select>
                                    <div [hidden]="seleccionTipoCarta.valid" class="error">
                                        <p *ngIf="seleccionTipoCarta.errors?.required">Campo Requerido</p>
                                    </div>
                                </div>

                            </fieldset>
                            <fieldset class="col-lg-12 m-b">
                                <div class="col-lg-2" style="padding-left:10px !important">
                                    <label class="control-label ">Motivo devolución:</label>
                                </div>

                                <div class="col-lg-4">
                                    <select required class="form-select-control col-lg-12" id="seleccionMotivoDevolucion"
                                        name="seleccionMotivoDevolucion" [(ngModel)]="detalleSobreSelected.IdMotivoDevolucion"
                                        #seleccionMotivoDevolucion="ngModel" [disabled]="true">
                                        <option [ngValue]="undefined" selected>Seleccione...</option>
                                        <option *ngFor="let motivo of motivosDevolucion" [value]="motivo.IdMotivoDevolucion">{{motivo.NombreMotivo}}</option>
                                    </select>

                                    <div [hidden]="seleccionMotivoDevolucion.valid" class="error">
                                        <p *ngIf="seleccionMotivoDevolucion.errors?.required">Campo Requerido</p>
                                    </div>
                                </div>

                                <div class="col-lg-2" style="padding-left:10px !important">
                                    <label class="control-label ">Motivo Negativa:</label>
                                </div>

                                <div class="col-lg-4">
                                    <select required class="form-select-control col-lg-12" id="seleccionMotivoNegativa"
                                        name="seleccionMotivoNegativa" [(ngModel)]="detalleSobreSelected.IdMotivoNegativa"
                                        #seleccionMotivoNegativa="ngModel" [disabled]="true">
                                        <option [ngValue]="undefined" selected>Seleccione...</option>
                                        <option *ngFor="let motivoN of motivosDevolucionNegativa" [value]="motivoN.IdMotivoDevolucion">{{motivoN.NombreMotivo}}</option>
                                    </select>

                                    <div [hidden]="seleccionMotivoNegativa.valid" class="error">
                                        <p *ngIf="seleccionMotivoNegativa.errors?.required">Campo Requerido</p>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="col-lg-12 m-b">
                                <div class="col-lg-6" style="padding-left:10px !important">
                                    <legend class="info">DETALLE 1</legend>
                                    <textarea rows="5" placeholder="Detalle de devolución y cláusula del contrato." id="motivoDevolucion2"
                                        name="motivoDevolucion2" class="form-control" [(ngModel)]="detalleSobreSelected.ClausulaDevolucion"
                                        style="resize: none;" [disabled]="true">
                                        </textarea>
                                </div>

                                <div class="col-lg-6" style="padding-left:10px !important">
                                    <legend class="info">DETALLE 2</legend>
                                    <textarea rows="5" placeholder="Detalle de la negativa y cláusula del contrato." id="observacionesSobre"
                                        name="observacionesSobre" class="form-control" [(ngModel)]="detalleSobreSelected.ClausulaNegativa"
                                        style="resize: none;" [disabled]="true">
                                        </textarea>
                                </div>
                            </fieldset>

                            <div class="col-lg-12 no-padding">
                                <button class="btn btn-w-m btn-success btn-sm" (click)="salirModalDetalle();">
                                    <i class="fa fa-save"></i> Salir
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal de Gestion -->
<div id="gestionSobreModalDiv">
    <div class="modal inmodal fade" id="gestionSobreViewModal" tabindex="-1" role="dialog" aria-hidden="false"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="col-lg-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h5 class="panel-title">Gestion del Beneficiario</h5>
                        </div>
                        <div class="panel-body panelDatos">
                            <legend class="info">SELECCIONE UN MOTIVO DE DEVOLUCIÓN</legend>
                            <fieldset class="col-lg-12">

                                <div class="m-b col-lg-2" style="padding-left:10px !important">
                                    <label class="control-label no-padding-left">Nombre Beneficiario:</label>
                                </div>

                                <div class="m-b col-lg-4">
                                    <input type="text" id="nombreBeneficiario" name="nombreBeneficiario" class="heigth25 form-control col-lg-12"
                                        [(ngModel)]="detalleSobreSelected.NombrePersona" [disabled]="true" />
                                </div>

                                <div class="m-b col-lg-2" style="padding-left:10px !important">
                                    <label class="control-label no-padding-left">Motivo devolución:</label>
                                </div>

                                <div class="m-b col-lg-4">
                                    <select required class="form-select-control m-b col-lg-12" id="selectMotivoGestion"
                                        name="selectMotivoGestion" [(ngModel)]="detalleSobreSelected.IdMotivoGestion"
                                        #selectMotivoGestion="ngModel" [disabled]="sobre.FechaGestion == undefined">
                                        <option [ngValue]="undefined" selected>Seleccione...</option>
                                        <option *ngFor="let motivo of motivosGestion" [value]="motivo.IdMotivoDevolucion">{{motivo.NombreMotivo}}</option>
                                    </select>
                                    <div [hidden]="selectMotivoGestion.valid" class="error">
                                        <p *ngIf="selectMotivoGestion.errors?.required">Campo Requerido</p>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="col-lg-12 m-b">
                                <legend class="info">OBSERVACIÓN</legend>
                                <textarea rows="4" placeholder="Detalle de devolución y cláusula del contrato." id="observacionesDevolucion"
                                    name="observacionesDevolucion" class="form-control" [(ngModel)]="detalleSobreSelected.ObservacionesGestion"
                                    style="resize: none;">
                                            </textarea>
                            </fieldset>

                            <div class="col-lg-12 no-padding">
                                <button class="btn btn-w-m btn-success btn-sm" (click)="salirModalGestion();">
                                    <i class="fa fa-save"></i> Guardar
                                </button>

                                <button class="btn btn-w-m btn-success btn-sm" (click)="cancelarModalGestion();">
                                    <i class="fa fa-save"></i> Salir
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>