<div class="panle panel-default">  
    <div class="panel-body panelDatos">
        <div id="divResultadoBusquedaMovimientos">
            <div class="dataTables_info">{{movimientoService.paginationConstants.EncabezadoTabla}}</div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th class="centerMiddle">Código Transacción</th>
                            <th class="centerMiddle">Número de Movimiento</th>
                            <th class="centerMiddle">Transacción</th>
                            <th class="centerMiddle">Digitador</th>
                            <th class="centerMiddle">Fecha Movimiento</th>
                            <th class="centerMiddle">Fecha Efecto</th>
                        </tr>
                    </thead>
                    <tbody class="no-borders selectableBodyTable" *ngFor="let movimiento of movimientos | paginate: {id : 'movimientosTable', itemsPerPage: movimientoService.paginationConstants.pageSize,currentPage: movimientoService.paginationConstants.pageNumber, totalItems: movimientoService.paginationConstants.total};">
                        <tr title="{{!movimiento.Selected ? 'Click para seleccionar' : ''}}" (click)="!movimiento.Selected ? seleccionar(movimiento, true) : return;"
                            [class.active]="movimiento.Selected">
                            <td class="centerMiddle">{{movimiento.CodigoTransaccion}}</td>
                            <td class="centerMiddle">{{movimiento.NumeroMovimiento}}</td>
                            <td>{{movimiento.Transaccion}}</td>
                            <td>{{movimiento.Digitador}}</td>
                            <td>{{movimiento.FechaMovimiento}}</td>
                            <td>{{movimiento.FechaEfecto}}</td>
                        </tr>
                    </tbody>
                    <tfoot *ngIf="movimientoService.paginationConstants.total == 0">
                        <tr>
                            <td colspan="6" style="text-align: center;">No existen resultados</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <pagination-controls id="movimientosTable" maxSize="4" previousLabel="" nextLabel="" autoHide="true" (pageChange)="movimientoService.paginationConstants.pageNumber=$event;pageChanged();"></pagination-controls>
        </div>
    </div>
</div>
<div class="panle panel-default">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h5 class="panel-title">Detalle Movimiento</h5>
        </div>
        <div class="panel-body panelDatos">
            <label class="col-lg-5">Historia:</label>
            <span class="col-lg-7">{{movimientoSelected.DatoAnterior}}</span>

            <label class="col-lg-5 clearInfo">Contrato:</label>
            <span class="col-lg-7">{{movimientoSelected.NumeroContrato}}</span>

            <label class="col-lg-5 clearInfo">Movimiento:</label>
            <span class="col-lg-7">{{(movimientoSelected.CodigoTransaccion!=undefined ? (movimientoSelected.CodigoTransaccion +' ') : '')+ (movimientoSelected.Transaccion!=undefined
                ? movimientoSelected.Transaccion : '')}}</span>
            <label class="col-lg-5 clearInfo">Persona:</label>
            <span class="col-lg-7">{{movimientoSelected.Persona}}</span>

            <label class="col-lg-5 clearInfo">Número Movimiento:</label>
            <span class="col-lg-7">{{movimientoSelected.NumeroMovimiento}}</span>

            <label class="col-lg-5 clearInfo">Fecha Movimiento:</label>
            <span class="col-lg-7">{{movimientoSelected.FechaMovimiento}}</span>

            <label class="col-lg-5 clearInfo">Fecha Efecto:</label>
            <span class="col-lg-7">{{movimientoSelected.FechaEfecto}}</span>

            <label class="col-lg-5 clearInfo">Fecha Modificacion:</label>
            <span class="col-lg-7">{{movimientoSelected.FechaModificacion}}</span>

            <label class="col-lg-5 clearInfo">Campo:</label>
            <span class="col-lg-7">{{movimientoSelected.Campo}}</span>

            <label class="col-lg-5 clearInfo">Digitador:</label>
            <span class="col-lg-7">{{movimientoSelected.Digitador}}</span>

            <label class="col-lg-5 clearInfo">Programa:</label>
            <span class="col-lg-7">{{movimientoSelected.Programa}}</span>

            <label class="col-lg-5 clearInfo">Estado Movimiento:</label>
            <span class="col-lg-7">{{movimientoSelected.EstadoMovimiento}}</span>
        </div>
    </div>
</div>