<div class="wrapper wrapper-content">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
      </div>
      <div id="divConsultar" class="panel-collapse collapse in">
        <div class="ibox float-e-margins">
          <div class="ibox-title" id="autorizaciones" style="border-width:1px 0px 0px 0px;">
            <div class="row">
              <div id="divResultadoBusquedaListas" class="ibox-content " style="border-width:1px 0px 0px 0px;">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover dataTable">
                    <thead class="centerMiddle table table-striped table-bordered table-hover dataTable">
                      <tr>
                        <th> Nombre </th>
                        <th> Código </th>
                        <th> Estado </th>
                      </tr>
                    </thead>
                    <tbody class="no-borders">
                      <tr class="centerMiddle ">
                        <td>{{listaHistorial.Nombre}}</td>
                        <td>{{listaHistorial.Codigo}}</td>
                        <td>{{listaHistorial.Estado==true? "ACTIVO" :"INACTIVO"}}</td>
                      </tr>
                    </tbody>
                    <thead class="centerMiddle">
                      <tr>
                        <th> Observación </th>
                        <th> Fecha Inicio </th>
                        <th> Fecha Fin </th>
                        <th> Usuario </th>
                      </tr>
                    </thead>
                    <tbody class="no-borders">
                      <tr class="centerMiddle " *ngFor="let lista of listaHistorial.Observaciones">
                        <td>{{lista.Descripcion}}</td>
                        <td>{{lista.FechaInicio|date}}</td>
                        <td>{{lista.FechaFin|date}}</td>
                        <td>{{lista.Usuario}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-12 text-center">
                  <button class="btn btn-w-m btn-success btn-sm" type="submit" (click)="salir()">
                    <i class="fa fa-cross"></i> Salir
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>