<div class="col-xs-12 no-padding m-t-xs m-b-sm">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h5 class="panel-title">Anulación de Contratos</h5>
        </div>
        <div class="panel-body">
            <form name="anulacionForm" role="form" #anulacionForm="ngForm">
                <fieldset class="col-lg-12">
                    <legend class="info">ANULACIÓN DE CONTRATO</legend>

                    <label class="col-lg-3 control-label no-padding-left">Inicio de Vigencia:</label>
                    <label class="col-lg-3 control-label no-padding-left">{{_contratoKey.FechaInicio | date:
                        'dd/MM/yyyy'}}</label>
                    <label class="col-lg-3 control-label no-padding-left">Fin de Vigencia:</label>
                    <label class="col-lg-3 control-label no-padding-left">{{_contratoKey.FechaFin | date:
                        'dd/MM/yyyy'}}</label>

                    <label class="col-lg-3 control-label no-padding-left" for="slcFechaAnulacion">Fecha Efecto
                        Anulaci&oacute;n:</label>
                    <div class="col-lg-9 no-padding m-b">
                        <datetime id="fechaEfectoAnulacion" [disabled]="desabilitar" name="fechaEfectoAnulacion"
                            required class="heigth25 col-lg-12 no-padding" [datepicker]="datepickerOpts" [timepicker]="false"
                            [(ngModel)]="fechaEfectoAnulacion"></datetime>
                    </div>

                    <label class="col-lg-3 control-label no-padding-left" for="slcMotivoCabecera">Motivo Cabecera:</label>
                    <div class="col-lg-9 no-padding m-b">
                        <select required class="col-lg-12 form-select-control" id="slcMotivoCabecera" name="slcMotivoCabecera"
                            [(ngModel)]="codigoCabecera" #slcMotivoCabecera="ngModel" (change)="cargarSelectMotivoAnulacion()"
                            [disabled]="desabilitar">
                            <option [ngValue]="undefined" selected>Seleccione...</option>
                            <option *ngFor="let motivoCabecera of cabeceraMotivoAnulacion" [ngValue]="motivoCabecera.CodigoCabecera">{{motivoCabecera.Descripcion}}</option>
                        </select>
                        <div [hidden]="slcMotivoCabecera.valid" class="error">
                            <p *ngIf="slcMotivoCabecera.errors?.required">Campo Requerido</p>
                        </div>
                    </div>

                    <label class="col-lg-3 control-label no-padding-left" for="slcMotivoAnulacion">Motivo Anulación:</label>
                    <div class="col-lg-9 no-padding m-b">
                        <select required class="col-lg-12 form-select-control" id="slcMotivoAnulacion" name="slcMotivoAnulacion"
                            [(ngModel)]="codigoAnulacion" #slcMotivoAnulacion="ngModel" [disabled]="desabilitar"
                            (change)="activarBotonCarta()">
                            <option [ngValue]="undefined" selected>Seleccione...</option>
                            <option *ngFor="let motivoAnulacion of listaDesplegarMotivoAnulacion" [ngValue]="motivoAnulacion.Codigo">{{motivoAnulacion.Descripcion}}</option>
                        </select>
                        <div [hidden]="slcMotivoAnulacion.valid" class="error">
                            <p *ngIf="slcMotivoAnulacion.errors?.required">Campo Requerido</p>
                        </div>
                    </div>
                    <!--
                    <fieldset class="col-lg-12">
                        <div class="col-lg-2 m-t-md text-center">
                        </div>
                        <div class="col-lg-4 m-t-md text-center">
                            <button class="btn btn-w-m btn-success btn-sm" id="cartaAnulacionId" (click)="crearCartaAnulacion();"
                                [disabled]="temaSeleccionado || desabilitar">
                                <i class="fa fa fa-file-pdf-o"></i> Carta Anulaci&oacute;n</button>
                        </div>
                        <div class="col-lg-4 m-t-md text-center">
                            <button class="btn btn-w-m btn-success btn-sm" id="formularioMovimientoId" (click)="CrearPdfFormularioMovimiento();"
                                [disabled]="temaSeleccionado || desabilitar">
                                <i class="fa fa fa-file-pdf-o"></i> Formulario Movimiento</button>
                        </div>
                        <div class="col-lg-2 m-t-md text-center">
                        </div>
                    </fieldset>
                    
                    <label class="col-lg-3 control-label no-padding-left" for="slcMotivoAnulacion">Detalle Motivo:</label>
                    <div class="col-lg-9 no-padding m-b">
                        <textarea id="comentario" name="comentario" [(ngModel)]="comentario" [disabled]="desabilitar"
                            placeholder="Escriba de 10 a 255 caracteres" class="form-control" rows="3" minlength="10"
                            maxlength="255" style="resize: none;" required="required">

                        </textarea>
                    </div>
                           <label class="col-lg-3 control-label no-padding-left" for="slcGuia">Guía para la retención de
                        cliente:</label>
                    <div class="col-lg-9 no-padding m-b">
                        <select class="col-lg-12 form-select-control" id="slcGuia" name="slcGuia" (change)="cargarSubGuias()"
                            [(ngModel)]="codigoGuias" #slcGuia="ngModel" [disabled]="desabilitar">
                            <option [ngValue]="undefined" selected>Seleccione...</option>
                            <option *ngFor="let motivoGuia of listaGuias" [ngValue]="motivoGuia.Codigo">{{motivoGuia.Nombre}}</option>
                        </select>
                    </div>
                    <label class="col-lg-3 control-label no-padding-left" for="slcSubGuias">Informativo:</label>
                    <div class="col-lg-9 no-padding m-b">
                        <textarea id="slcSubGuias" name="slcSubGuias" [disabled]="true" class="form-control text-justify"
                            rows="10" style="resize: none;" placeholder="Campo informativo">{{leerTexto}}
                        </textarea>
                    </div> -->
                </fieldset>
                <fieldset class="col-lg-12">
                    <!--     <div class="col-lg-3 m-t-md text-center">
                        <button class="btn btn-w-m btn-success btn-sm" id="formularioMovimientoId" (click)="CrearPdfFormularioMovimiento();"
                            [disabled]="!anulacionForm.form.valid">
                            <i class="fa fa fa-file-pdf-o"></i> Formulario Movimiento</button>
                    </div> -->
                    <div class="col-lg-3 m-t-md no-padding">
                        <button class="btn btn-w-m btn-success btn-sm" id="guardarId" (click)="guardarAnulacion();"
                            [disabled]="temaSeleccionado || desabilitar">
                            <i class="fa fa-save"></i> Anular</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>