<div class="col-xs-12 no-padding m-t-xs m-b-sm">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h5 class="panel-title">Quitar Carencias</h5>
        </div>
        <div class="panel-body">
            <form name="quitarCarenciasForm" role="form" #quitarCarenciasForm="ngForm">

                <fieldset class="col-lg-12 no-padding">
                    <legend class="info">QUITAR CARENCIAS</legend>
                </fieldset>

                <div class="m-b col-lg-12 no-padding">
                    <ul class="nav nav-tabs nestedTabs" role="tablist">
                        <li class="nav-item active nestedTab">
                            <a id="beneficiariosTab" class="nav-link active" data-toggle="tab" role="tab" href="#beneficiarios">Beneficiarios</a>
                        </li>
                        <li class="nav-item nestedTab">
                            <a id="pagoInteligenteTab" class="nav-link" data-toggle="tab" role="tab" href="#coberturas">Coberturas</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content no-padding">
                    <div class="tab-pane active no-padding" id="beneficiarios" role="tabpanel">

                        <div class="col-lg-12 no-padding">
                            <div class="panel panel-success no-padding">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Listado de Beneficiarios</h5>
                                </div>
                                <div class="panel-body panelDatos no-padding">
                                    <div class="dataTables_info no-padding">{{transaccionService.paginationConstants.EncabezadoTabla}}</div>
                                    <div class="table-responsive no-padding">
                                        <table class="table table-striped table-bordered table-hover dataTable no-padding">
                                            <thead>
                                                <tr>
                                                    <th class="centerMiddle">Persona Número</th>
                                                    <th class="centerMiddle">Nombres</th>
                                                    <th class="centerMiddle">Relación</th>
                                                    <th class="centerMiddle">Edad</th>
                                                    <th class="centerMiddle">Sexo</th>
                                                    <th class="centerMiddle">Maternidad</th>
                                                    <th class="centerMiddle">Titular</th>
                                                    <th class="centerMiddle">Estado</th>
                                                    <th class="centerMiddle">Region</th>
                                                    <th class="centerMiddle">Código Producto</th>
                                                    <th class="centerMiddle">Listado Carencias</th>
                                                </tr>
                                            </thead>
                                            <tbody class="no-borders selectableBodyTable" *ngFor="let beneficiario of benficiarios | paginate: {id : 'maternidadTable', itemsPerPage: transaccionService.paginationConstants.pageSize,currentPage: transaccionService.paginationConstants.pageNumber, totalItems: transaccionService.paginationConstants.total};">
                                                <tr title="{{!beneficiario.Selected ? 'Click para seleccionar' : ''}}" (click)="!beneficiario.Selected ? seleccionar(beneficiario, true) : return;"
                                                    [class.active]="beneficiario.Selected">
                                                    <td>{{beneficiario.NumeroPersona}}</td>
                                                    <td>{{beneficiario.NombresApellidos}}</td>
                                                    <td>{{beneficiario.NombreRelacion}}</td>
                                                    <td>{{beneficiario.Edad}}</td>
                                                    <td>{{beneficiario.DescripcionSexo}}</td>
                                                    <td>{{beneficiario.Maternidad}}</td>
                                                    <td>{{beneficiario.DescripcionTitular}}</td>
                                                    <td>{{beneficiario.NombreEstado}}</td>
                                                    <td>{{beneficiario.Region}}</td>
                                                    <td>{{beneficiario.CodigoProducto}}</td>
                                                    <td class="centerMiddle">
                                                        <i class="fa fa-eye" (click)="loadCarenciasBeneficiario(beneficiario);"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot *ngIf="transaccionService.paginationConstants.total == 0">
                                                <tr>
                                                    <td colspan="10" style="text-align: center;">No existen resultados</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <pagination-controls id="maternidadTable" maxSize="4" previousLabel="" nextLabel="" autoHide="true" (pageChange)="transaccionService.paginationConstants.pageNumber=$event;pageChanged();"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="coberturas" role="tabpanel">
                        <div class="col-lg-12 no-padding">
                            <div class="panel panel-success no-padding">

                                <div class="col-lg-12 no-padding">
                                    <button class="btn btn-w-m btn-success btn-sm" (click)="seleccionarTodos();">
                                        <i class="fa fa-check-square">Seleccionar Todo</i>
                                    </button>

                                    <button class="btn btn-w-m btn-success btn-sm" (click)="guardar();">
                                        <i class="fa fa-save"></i>Guardar
                                    </button>

                                    <button class="btn btn-w-m btn-success btn-sm" (click)="reactivarCarencia();">
                                        <i class="fa fa-plus-square"></i>Reactivar
                                    </button>

                                    <button class="btn btn-w-m btn-success btn-sm" (click)="actualizarCarencia();">
                                        <i class="fa fa-pencil"></i>Actualizar
                                    </button>
                                </div>

                                <div class="panel-heading">
                                    <h5 class="panel-title">Listado de Coberturas</h5>
                                </div>
                                <div id="divServiciosEspeciales" class="ibox-content" style="border-width:1px 0px 0px 0px;">
                                    <div class="dataTables_info">Mostrando {{coberturas.length}} registros</div>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover dataTable">
                                            <thead>
                                                <tr>
                                                    <th class="centerMiddle">Seleccione</th>
                                                    <th class="centerMiddle">Código Plan</th>
                                                    <th class="centerMiddle">Código Cobertura</th>
                                                    <th class="centerMiddle">Cobertura</th>
                                                    <th class="centerMiddle">Tipo</th>
                                                    <th class="centerMiddle">Monto Cobertura</th>
                                                    <th class="centerMiddle">Monto Consumido</th>
                                                    <th class="centerMiddle">Meses</th>
                                                    <th class="centerMiddle">Carencias Amb</th>
                                                    <th class="centerMiddle">Carencias Hosp</th>
                                                    <th class="centerMiddle">Estado Carencia</th>
                                                    <th class="centerMiddle">Detalle Carencia</th>
                                                </tr>
                                            </thead>
                                            <tbody class="no-borders selectableBodyTable" *ngFor="let cobertura of coberturas">
                                                <tr title="{{!cobertura.Selected ? 'Click para seleccionar' : ''}}" (click)="!cobertura.Selected || cobertura.Selected? seleccionarCobertura(cobertura, true) : return;"
                                                    [class.active]="cobertura.Selected">
                                                    <td>
                                                        <input type="checkbox" [checked]="cobertura.Selected" />
                                                    </td>
                                                    <td>{{cobertura.CodigoPlan}}</td>
                                                    <td>{{cobertura.CodigoCobertura}}</td>
                                                    <td>{{cobertura.Nombre}}</td>
                                                    <td class="centerMiddle">{{cobertura.Tipo}}</td>
                                                    <td class="alignR">&#36;{{cobertura.Monto | number : '1.2-2'}}</td>
                                                    <td class="alignR">&#36;{{cobertura.MontoConsumido | number : '1.2-2'}}</td>
                                                    <td class="centerMiddle">{{cobertura.MesesReposicion}}</td>
                                                    <td class="centerMiddle">{{cobertura.DiasCarenciaAmbulatoriaAux}}</td>
                                                    <td class="centerMiddle">{{cobertura.DiasCarenciaHospitalariaAux}}</td>
                                                    <td class="centerMiddle" *ngIf="cobertura.EstadoCar == undefined">-</td>
                                                    <td class="centerMiddle" *ngIf="cobertura.EstadoCar == true">Activa</td>
                                                    <td class="centerMiddle" *ngIf="cobertura.EstadoCar == false">Anulada</td>
                                                    <td class="centerMiddle">
                                                        <i class="fa fa-eye" (click)="dias(cobertura);"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot *ngIf="coberturas == undefined || coberturas.length  == 0">
                                                <tr>
                                                    <td colspan="6" style="text-align: center;">No existen resultados</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="modalDias" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h5 class="panel-title">Detalle Quita Carencias</h5>
                </div>
                <div class="panel-body">

                    <fieldset class="col-lg-12">
                        <legend class="info">Detalle Quita Carencias</legend>

                        <div class="m-b col-lg-2">
                            <label class="control-label no-padding-left">Carencia Ambulatoria:</label>
                        </div>
                        <div class="m-b col-lg-4">
                            <input type="text" [(ngModel)]="coberturaSelected.DiasCarenciaAmbulatoria" id="diasCarenciaAmbulatoria" name="diasCarenciaAmbulatoria"
                                class="heigth25 form-control col-lg-12" />
                        </div>

                        <div class="m-b col-lg-2">
                            <label class="control-label no-padding-left">Carencia Hospitalaria:</label>
                        </div>
                        <div class="m-b col-lg-4">
                            <input type="text" [(ngModel)]="coberturaSelected.DiasCarenciaHospitalaria" id="diasCarenciaHospitalaria" name="diasCarenciaHospitalaria"
                                class="heigth25 form-control col-lg-12" />
                        </div>

                    </fieldset>
                    <fieldset class="col-lg-12">
                        <div class="m-b col-lg-2">
                            <label class="control-label no-padding-left">Carencia Preexistencia:</label>
                        </div>
                        <div class="m-b col-lg-4">
                            <input type="text" [(ngModel)]="coberturaSelected.DiasCarenciaPreexistencia" id="diasCarenciaPreexistencia" name="diasCarenciaPreexistencia"
                                class="heigth25 form-control col-lg-12" />
                        </div>
                    </fieldset>

                    <div class="col-lg-12 m-t-md">
                        <button class="btn btn-w-m btn-success btn-sm" (click)="salir();">
                            <i class="fa fa-sign-out"></i>Ok</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal fade" id="modalCarencias" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h5 class="panel-title">Listado Carencias Beneficiario</h5>
                </div>
                <div class="panel-body">

                    <fieldset class="col-lg-12">
                        <legend class="info">CARENCIA BENEFICIARIO</legend>
                    </fieldset>

                    <div class="panel-body panelDatos no-padding">
                        <div class="dataTables_info no-padding">{{carenciaService.paginationConstants.EncabezadoTabla}}</div>
                        <div class="table-responsive no-padding">
                            <table class="table table-striped table-bordered table-hover dataTable no-padding">
                                <thead>
                                    <tr>
                                        <th class="centerMiddle">Código Cobertura</th>
                                        <th class="centerMiddle">Código Plan</th>
                                        <th class="centerMiddle">Version Plan</th>
                                        <th class="centerMiddle">Estado</th>
                                        <th class="centerMiddle">Carencias Amb</th>
                                        <th class="centerMiddle">Carencias Hosp</th>
                                        <th class="centerMiddle">Código Producto</th>
                                        <th class="centerMiddle">Fecha Inicio</th>
                                        <th class="centerMiddle">Persona</th>
                                    </tr>
                                </thead>
                                <tbody class="no-borders selectableBodyTable" *ngFor="let carencia of listadoCarenciaBeneficiario | paginate: {id : 'carenciaTable', itemsPerPage: carenciaService.paginationConstants.pageSize,currentPage: carenciaService.paginationConstants.pageNumber, totalItems: carenciaService.paginationConstants.total};">
                                    <tr>
                                        <td class="centerMiddle">{{carencia.CodigoCobertura}}</td>
                                        <td class="centerMiddle">{{carencia.VersionPlan}}</td>
                                        <td class="centerMiddle">{{carencia.CodigoPlan}}</td>
                                        <td class="centerMiddle">{{carencia.NombreEstado}}</td>
                                        <td class="centerMiddle">{{carencia.DiasCarenciaAmbulatoria}}</td>
                                        <td class="centerMiddle">{{carencia.DiasCarenciaHospitalaria}}</td>
                                        <td class="centerMiddle">{{carencia.CodigoProducto}}</td>
                                        <td class="centerMiddle">{{carencia.FechaInicio}}</td>
                                        <td class="centerMiddle">{{carencia.Persona}}</td>
                                    </tr>
                                </tbody>
                                <tfoot *ngIf="listadoCarenciaBeneficiario == undefined || listadoCarenciaBeneficiario.length  == 0">
                                    <tr>
                                        <td colspan="8" style="text-align: center;">No existen resultados</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <pagination-controls id="carenciaTable" maxSize="4" previousLabel="" nextLabel="" autoHide="true" (pageChange)="carenciaService.paginationConstants.pageNumber=$event;pageCarenciaChanged();"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>