<div class="col-lg-12 m-t-sm no-padding" id="divpaneleditarplan">
    <div class="row no-padding">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h5 class="panel-title"> Editar Plan Corporativo </h5>
                </div>
                <div class="panel-body panelDatos">
                        <form #editarPlanForm="ngForm" (ngSubmit)="guardar();">
                            <div class="col-md-12 no-padding" id="clpListaDetalle">
                                <fieldset class="m-b-sm">
                                    <legend class="info">Planes</legend>
                                    <div class="col-md-12 col-xs-12">
                                        <label class="col-md-3 col-xs-5">Código:</label>
                                        <span class="col-md-3 col-xs-7">{{editarPlanesKey.CodigoPlan}}</span>
            
                                        <label class="col-md-3 col-xs-5">Tarifa:</label>
                                        <span class="col-md-3 col-xs-7">
                                            <input required type="number" placeholder="{{editarPlanesKey.PrecioBase}}" id="precioBase" name="precioBase" class="heigth25 form-control"
                                                min="1" max="999999" [(ngModel)]="editarPlanesKey.PrecioBase" #precioBase="ngModel"
                                            />
                                            <div [hidden]="precioBase.valid || precioBase.pristine" class="error">
                                                <p *ngIf="precioBase.errors?.max">Precio máximo 999999</p>
                                                <p *ngIf="precioBase.errors?.min">Precio mínimo 1</p>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                       
                                        <label class="col-md-3 col-xs-5">Edad Facturarción:</label>
                                        <span class="col-md-3 col-xs-7">
                                            <input type="number" placeholder="000" id="edadFacturacion" name="edadFacturacion" [(ngModel)]="editarPlanesKey.EdadFacturacion"
                                                #edadFacturacion="ngModel" class="form-control" max="120" pattern="\d*" />
                                            <div [hidden]="edadFacturacion.valid || edadFacturacion.pristine" class="error">
                                                <p *ngIf="edadFacturacion.errors?.max">Edad máxima 120</p>
                                                <p *ngIf="edadFacturacion.errors?.pattern">Sólo dígitos</p>
                                            </div>
                                        </span>
                                        <label class="col-md-3 col-xs-5">Versión:</label>
                                        <span class="col-md-3 col-xs-3">
                                            <input type="number" placeholder="000" id="version" name="version" [(ngModel)]="editarPlanesKey.VersionPlan" #version="ngModel"
                                        class="form-control" max="999" disabled />
                                        </span>
                                        
                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        
                                        <label class="col-md-3 col-xs-5">Edad Máxima Beneficiarios Hijos:</label>
                                        <span class="col-md-3 col-xs-7">
                                            <input type="number" placeholder="000" id="edadBeneficiarios" name="edadBeneficiarios" [(ngModel)]="editarPlanesKey.EdadDependientes"
                                                #edadDependientes="ngModel" class="form-control" max="120" pattern="\d*" />
                                            <div [hidden]="edadDependientes.valid || edadDependientes.pristine" class="error">
                                                <p *ngIf="edadDependientes.errors?.max">Edad máxima 120</p>
                                                <p *ngIf="edadDependientes.errors?.pattern">Sólo dígitos</p>
                                            </div>
                                        </span>
                                        <label class="col-md-3 col-xs-5">Niveles:</label>
                                        <span class="col-md-3 col-xs-7">
                                            <input type="number" placeholder="000" id="niveles" name="niveles" [(ngModel)]="editarPlanesKey.NivelReferrencia"
                                                #niveles="ngModel" class="form-control" max="10" pattern="\d*" />
                                            <div [hidden]="niveles.valid || niveles.pristine" class="error">
                                                <p *ngIf="niveles.errors?.max">Edad máxima 10</p>
                                                <p *ngIf="niveles.errors?.pattern">Sólo dígitos</p>
                                            </div>
                                        </span>

                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        
                                        <label class="col-md-3 col-xs-5">Número Beneficiarios:</label>
                                        <span class="col-md-3 col-xs-7">
                                            <input type="number" placeholder="Número Benefificarios" id="numeroBeneficiarios" name="numeroBeneficiarios" [(ngModel)]="editarPlanesKey.NumeroBeneficiarios"
                                                #numeroBeneficiarios="ngModel" class="form-control" max="999" pattern="\d*" />
                                            <div [hidden]="numeroBeneficiarios.valid || numeroBeneficiarios.pristine" class="error">
                                                <p *ngIf="numeroBeneficiarios.errors?.max">Número máximo Beneficiarios 999</p>
                                                <p *ngIf="numeroBeneficiarios.errors?.pattern">Sólo dígitos</p>
                                            </div>
                                        </span>
                                        <label class="col-md-3 col-xs-5" for="codigoRegiones">Región:</label>
                                        <span class="col-md-3 col-xs-7">
                                            <select class="form-control" id="codigoRegion" name="codigoRegion" #codigoRegion="ngModel" [(ngModel)]="editarPlanesKey.Region">
                                                <option [value]="editarPlanesKey.Region" selected>Seleccione región</option>
                                                <option *ngFor="let r of regiones" [value]="r.Codigo">{{r.Nombre}}</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="col-md-12 col-xs-12">
            
                                       
                                        <label class="col-md-3 col-xs-5" for="codigoRegiones">Descripción:</label>
                                        <span class="col-md-3 col-xs-7">
                                            <input type="string" placeholder="descripcion" id="descripcion" name="descripcion" [(ngModel)]="editarPlanesKey.NombrePlan" #descripcion="ngModel"
                                            class="form-control" disabled/>
                                        </span>

                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        <label class="col-md-3 col-xs-5">Tarifario:</label>
                                        <span class="col-md-3 col-xs-7">
                                            <input type="number" placeholder="000" id="codigoTarifario" name="codigoTarifario" [(ngModel)]="editarPlanesKey.CodigoTarifario"
                                                #codigoTarifario="ngModel" class="form-control" minlength="1" pattern="\d*" max="3" />
                                            <div [hidden]="codigoTarifario.valid || codigoTarifario.pristine" class="error">
                                                <p *ngIf="codigoTarifario.errors?.minlength">Ingresar al menos un número</p>
                                                <p *ngIf="codigoTarifario.errors?.max">Valor Máximo 999</p>
                                                <p *ngIf="codigoTarifario.errors?.pattern">Sólo dígitos</p>
                                            </div>
                                        </span>
                                        <div>
                                            <input type="radio" name="tarifario"  [checked]="editarPlanesKey.CodigoTarifario === 1" disabled/>
                                            Salud
                                            <input type="radio" name="tarifario" [checked]="editarPlanesKey.CodigoTarifario === 2"  disabled/>
                                            Harvard
                                            <input type="radio" name="tarifario"  [checked]="editarPlanesKey.CodigoTarifario === 3"  disabled/>
                                            McGrow
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <fieldset class="m-b-sm">
                                            <legend class="info">Fechas</legend>
                                            <div class="col-md-12 col-xs-12">
                                                <label class="col-md-3 col-xs-5">Inicio:</label>
                                                <span class="col-md-3 col-xs-7">
                                                    <datetime class="heigth25 col-lg-12 no-padding" name="fechaInicio" [timepicker]="false" id="fechaInicio" [(ngModel)]="tempFechaInicio"
                                                        [datepicker]="datepickerOpts"></datetime>
                                                </span>
                                            </div>
                                            <div class="col-md-12 col-xs-12">
                                                <label class="col-md-3 col-xs-5">Fin:</label>
                                                <span class="col-md-3 col-xs-7">
                                                    <datetime class="heigth25 col-lg-12 no-padding" name="fechaFin" [timepicker]="false" id="fechafin" [(ngModel)]="tempFechaFin"
                                                        [datepicker]="datepickerOpts"></datetime>
                                                </span>
                                            </div>
                                            <div class="col-md-12 col-xs-12">
                                                <label class="col-md-3 col-xs-5">Digitación:</label>
                                                <span class="col-md-3 col-xs-7">
                                                    <datetime class="heigth25 col-lg-12 no-padding" name="fechaDigitacion" [timepicker]="false" id="fechaDigitacion" [(ngModel)]="tempFechaDigitacion"
                                                        [datepicker]="datepickerOpts"></datetime>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <fieldset class="m-b-sm">
                                            <legend class="info">Coparticipación</legend>
                                            <div class="col-md-12 col-xs-12">
                                                <label class="col-md-3 col-xs-5">Monto:</label>
                                                <span class="col-md-3 col-xs-7">
                                                    <input required type="number" placeholder="000.00" id="montoCoparticipacion" name="montoCoparticipacion" class="heigth25 form-control"
                                                        number [min]="1" [max]="999999" [(ngModel)]="editarPlanesKey.MontoCoaseguro"
                                                        #montoCoparticipacion="ngModel" required />
                                                    <div [hidden]="montoCoparticipacion.valid || montoCoparticipacion.pristine" class="error">
                                                        <p *ngIf="montoCoparticipacion.errors?.required">Campo requerido</p>
                                                        <p *ngIf="montoCoparticipacion.errors?.min">Ingresar un número</p>
                                                        <p *ngIf="montoCoparticipacion.errors?.max">máximo 999999</p>
                                                    </div>
                                                </span>
            
                                                <label class="col-md-3 col-xs-5">Porcentaje:</label>
                                                <span class="col-md-3 col-xs-7">
                                                    <input required type="number" placeholder="000.00" id="porcentajeCoparticipacion" name="porcentajeCoparticipacion" class="heigth25 form-control"
                                                        number [min]="1" [max]="100" [(ngModel)]="editarPlanesKey.PorcentajeCoaseguro"
                                                        required #porcentajeCoparticipacion="ngModel" />
                                                    <div [hidden]="porcentajeCoparticipacion.valid || porcentajeCoparticipacion.pristine" class="error">
                                                        <p *ngIf="porcentajeCoparticipacion.errors?.required">Campo requerido</p>
                                                        <p *ngIf="porcentajeCoparticipacion.errors?.min">Ingresar un número</p>
                                                        <p *ngIf="porcentajeCoparticipacion.errors?.max">máximo 100%</p>
                                                    </div>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <fieldset class="m-b-sm">
                                            <legend class="info">Cubre</legend>
                                            <div class="col-md-12 col-xs-12">
                                                <label class="col-md-3 col-xs-5">Congénitas:</label>
                                                <span class="col-md-3 col-xs-7" *ngIf="editarPlanesKey.CubreCongenitas">SI</span>
                                                <span class="col-md-3 col-xs-7" *ngIf="!editarPlanesKey.CubreCongenitas">NO</span>
                                                <span class="col-md-3 col-xs-7">
                                                    <select required class="form-select-control heigth25" id="congenitas" name="congenitas" [(ngModel)]="editarPlanesKey.CubreCongenitas">
                                                        <option *ngFor="let res of respuestas" [ngValue]="res.codigo">{{res.mensaje}}</option>
                                                    </select>
                                                </span>
                                            </div>
                                            <div class="col-md-12 col-xs-12">
                                                <label class="col-md-3 col-xs-5">Preexistencia:</label>
                                                <span class="col-md-3 col-xs-7" *ngIf="editarPlanesKey.CubrePreexistencias">SI</span>
                                                <span class="col-md-3 col-xs-7" *ngIf="!editarPlanesKey.CubrePreexistencias">NO</span>
                                                <span class="col-md-3 col-xs-7">
                                                    <select required class="form-select-control heigth25" id="preexistencias" name="preexistencias" [(ngModel)]="editarPlanesKey.CubrePreexistencias">
                                                        <option *ngFor="let res of respuestas" [ngValue]="res.codigo">{{res.mensaje}}</option>
                                                    </select>
                                                </span>
                                            </div>
                                            <div class="col-md-12 col-xs-12">
                                                <label class="col-md-3 col-xs-5">Aplica nuevos beneficios a Maternidad:</label>
                                                <span class="col-md-3 col-xs-7" *ngIf="editarPlanesKey.MatNuevosBeneficios">SI</span>
                                                <span class="col-md-3 col-xs-7" *ngIf="!editarPlanesKey.MatNuevosBeneficios">NO</span>
                                                <span class="col-md-3 col-xs-7">
                                                    <select required class="form-select-control heigth25" id="maternidad" name="maternidad" [(ngModel)]="editarPlanesKey.MatNuevosBeneficios">
                                                        <option *ngFor="let res of respuestas" [ngValue]="res.codigo">{{res.mensaje}}</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <fieldset class="m-b-sm">
                                            <legend class="info">Edad</legend>
                                            <div class="col-md-12 col-xs-12">
                                                <label class="col-md-3 col-xs-5">Límite:</label>
                                                <span class="col-md-3 col-xs-7">
                                                    <input type="number" placeholder="000" id="edadTope" name="edadTope" [(ngModel)]="editarPlanesKey.EdadTope" #edadTope="ngModel"
                                                        class="form-control" min="0" max="999" required pattern="\d*" />
                                                    <div [hidden]="edadTope.valid || edadTope.pristine" class="error">
                                                        <p *ngIf="edadTope.errors?.required">Campo requerido</p>
                                                        <p *ngIf="edadTope.errors?.min">Ingresar un número</p>
                                                        <p *ngIf="edadTope.errors?.max">máximo 999</p>
                                                        <p *ngIf="edadTope.errors?.pattern">Sólo dígitos</p>
                                                    </div>
                                                </span>
            
                                                <label class="col-md-3 col-xs-5">Porcentaje Bonificación:</label>
                                                <span class="col-md-3 col-xs-7">
                                                    <input type="number" placeholder="000.00" id="porcentajeCoaseguro" name="porcentajeCoaseguro" [(ngModel)]="editarPlanesKey.PorcentajeEdadTope"
                                                        #porcentajeCoaseguro="ngModel" class="form-control" min="0" max="100" required/>
                                                    <div [hidden]="porcentajeCoaseguro.valid || porcentajeCoaseguro.pristine" class="error">
                                                        <p *ngIf="porcentajeCoaseguro.errors?.required">Campo requerido</p>
                                                        <p *ngIf="porcentajeCoaseguro.errors?.min">Ingresar un número</p>
                                                        <p *ngIf="porcentajeCoaseguro.errors?.max">máximo 100%</p>
                                                    </div>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <fieldset class="m-b-sm">
                                            <legend class="info">Días</legend>
                                            <div class="col-md-12 col-xs-12">
                                                <label class="col-md-3 col-xs-5">Carencia Ambulatorio:</label>
                                                <span class="col-md-3 col-xs-7">
                                                    <input type="number" placeholder="000" id="diasCarenciaAmbulatorio" name="diasCarenciaAmbulatorio" [(ngModel)]="editarPlanesKey.DiasCarenciaAmbulatorio"
                                                        #diasCarenciaAmbulatorio="ngModel" class="form-control" min="0" max="999" required/>
                                                    <div [hidden]="diasCarenciaAmbulatorio.valid || diasCarenciaAmbulatorio.pristine" class="error" pattern="\d*">
                                                        <p *ngIf="diasCarenciaAmbulatorio.errors?.required">Campo requerido</p>
                                                        <p *ngIf="diasCarenciaAmbulatorio.errors?.min">Ingresar un número</p>
                                                        <p *ngIf="diasCarenciaAmbulatorio.errors?.max">máximo 999</p>
                                                        <p *ngIf="diasCarenciaAmbulatorio.errors?.pattern">Sólo dígitos</p>
                                                    </div>
                                                </span>
            
                                                <label class="col-md-3 col-xs-5">Carencia Hospitalaria:</label>
                                                <span class="col-md-3 col-xs-7">
                                                    <input type="number" placeholder="000" id="diasCarenciaHospitalario" name="diasCarenciaHospitalario" [(ngModel)]="editarPlanesKey.DiasCarenciaHospitalario"
                                                        #diasCarenciaHospitalario="ngModel" class="form-control" min="0" max="999" required
                                                        pattern="\d*" />
                                                    <div [hidden]="diasCarenciaHospitalario.valid || diasCarenciaHospitalario.pristine" class="error">
                                                        <p *ngIf="diasCarenciaHospitalario.errors?.required">Campo requerido</p>
                                                        <p *ngIf="diasCarenciaHospitalario.errors?.min">Ingresar un número</p>
                                                        <p *ngIf="diasCarenciaHospitalario.errors?.max">máximo 999</p>
                                                        <p *ngIf="diasCarenciaHospitalario.errors?.pattern">Sólo dígitos</p>
                                                    </div>
                                                </span>
                                            </div>
                                            <div class="col-md-12 col-xs-12">
                                                <label class="col-md-3 col-xs-5">Prestación:</label>
                                                <span class="col-md-3 col-xs-7">
                                                    <input type="number" placeholder="000" id="prestacion" name="prestacion" [(ngModel)]="editarPlanesKey.DiasReclamo" #prestacion="ngModel"
                                                        class="form-control" min="0" max="999" required pattern="\d*" />
                                                    <div [hidden]="prestacion.valid || prestacion.pristine" class="error">
                                                        <p *ngIf="prestacion.errors?.required">Campo requerido</p>
                                                        <p *ngIf="prestacion.errors?.min">Ingresar un número</p>
                                                        <p *ngIf="prestacion.errors?.max">máximo 999</p>
                                                        <p *ngIf="prestacion.errors?.pattern">Sólo dígitos</p>
                                                    </div>
                                                </span>
            
                                                <label class="col-md-3 col-xs-5">Periodo Enfermedad:</label>
                                                <span class="col-md-3 col-xs-7">
                                                    <input type="number" placeholder="000" id="periodoEnfermedad" name="periodoEnfermedad" [(ngModel)]="editarPlanesKey.DiasAlcance"
                                                        #periodoEnfermedad="ngModel" class="form-control" min="0" max="999" required pattern="\d*"
                                                    />
                                                    <div [hidden]="periodoEnfermedad.valid || periodoEnfermedad.pristine" class="error">
                                                        <p *ngIf="periodoEnfermedad.errors?.required">Campo requerido</p>
                                                        <p *ngIf="periodoEnfermedad.errors?.min">Ingresar un número</p>
                                                        <p *ngIf="periodoEnfermedad.errors?.pattern">Sólo dígitos</p>
                                                    </div>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-lg-12 text-center">
                                <button class="btn btn-w-m btn-success btn-sm" type="submit" [disabled]="!editarPlanForm.form.valid">
                                    <i class="fa fa-search"></i> Guardar
                                </button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
    