<div class="col-xs-12 no-padding m-t-xs m-b-sm">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h5 class="panel-title">Modificar Datos Broker</h5>
            </div>
            <div class="panel-body">
                <form name="updateDatosBroker" role="form" #updateDatosBroker="ngForm">
    
                    <fieldset class="col-lg-12 m-b">
                        <legend class="info">DATOS BROKER</legend>
    
                    </fieldset>
    
                    <fieldset class="col-lg-12">
    
                            <label class="col-lg-1 control-label no-padding-left" for="slcPlan">Nombre:</label>
                            <span class="col-lg-3">{{corporativokey.NombreFinanciero}}</span>
                            <label class="col-lg-1 control-label no-padding-left" for="slcPlan">Email:</label>
                            <span class="col-lg-3">{{corporativokey.EmailBroker}}</span>
                            <label class="col-lg-1 control-label no-padding-left" for="slcPlan">Comisión:</label>
                            <span class="col-lg-3">{{corporativokey.PorcentajeComisionBroker}}</span>
                    </fieldset>
                   

    
                    <fieldset class="col-lg-12 m-b">
    
                        <legend class="info">CAMBIAR DATOS BROKER A</legend>
    
    
                    </fieldset>
    
                    <fieldset class="col-lg-12">
                        <div class="m-b col-lg-2">
                            <label class="control-label no-padding-left">Nombre:</label>
                        </div>
                        <div class="m-b col-lg-2">
                            <input type="text" [(ngModel)]="corporativofilter.AgenteVenta" id="AgenteVenta" name="AgenteVenta"
                            class="form-control" #AgenteVenta="ngModel" minlength="0" maxlength="100" />
                        </div>
                        <div [hidden]="AgenteVenta.valid || AgenteVenta.pristine" class="error">
                                <p *ngIf="AgenteVenta.errors?.maxlength">Máximo 100 caracteres</p>
                            </div>
    
    
                        <div class="m-b col-lg-2">
                            <label class="control-label no-padding-left">Email:</label>
                        </div>
    
                        <div class="m-b col-lg-2">
                                <input type="text" style="text-transform: uppercase;" placeholder="Email" id="EmailBroker" [(ngModel)]="corporativofilter.EmailBroker" name="EmailBroker"
                                class="form-control" #EmailBroker="ngModel" minlength="0" maxlength="100" pattern="^[a-z A-Z 0-9_.+-]+@[a-z A-Z 0-9-]+.[a-z A-Z 0-9-.]+$"
                            />
                        </div>
                        <div [hidden]="EmailBroker.valid || EmailBroker.pristine" class="error">
                                <p *ngIf="EmailBroker.errors?.pattern">Introduzca un formato de email válido</p>
                                <p *ngIf="EmailBroker.errors?.maxlength">Máximo 100 caracteres</p>
                            </div>

                        <div class="m-b col-lg-2">
                                <label class="control-label no-padding-left">Comisión:</label>
                            </div>
        
                            <div class="m-b col-lg-2">
                                    <input type="number"  placeholder="% Comisión" id="PorcentajeComisionBroker" [(ngModel)]="corporativofilter.PorcentajeComisionBroker"
                                    name="PorcentajeComisionBroker" class="form-control" #PorcentajeComisionBroker="ngModel"
                                      max="100" min="1" minlength="0" maxlength="17" />
                                      <div [hidden]="PorcentajeComisionBroker.valid || PorcentajeComisionBroker.pristine" class="error">
                                            <p *ngIf="PorcentajeComisionBroker.errors?.pattern">ingrese un porcentaje válido</p>
                                            <p *ngIf="PorcentajeComisionBroker.errors?.maxlength">Maximo 17 dígitos</p>
                                        </div>
                            </div>

                    </fieldset>

    
                    <div class="col-lg-12 m-t-md">
                        <button class="btn btn-w-m btn-success btn-sm" (click)="guardarCambios();">
                            <i class="fa fa-save"></i>Guardar</button>
                    </div>
    
                </form>
    
            </div>
    
        </div>
    </div>