<div class="col-xs-12 no-padding m-t-xs m-b-sm">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h5 class="panel-title">Reporte Por Cobrar y Morosos</h5>
        </div>
        <div class="panel-body">
            <form #reportePorCobrarMorososForm="ngForm">
                <fieldset class="col-lg-12 m-b">

                    <label class="col-lg-2 control-label">Región:</label>
                    <div class="col-lg-4">
                        <select class="form-select-control m-b" id="slcRegion" name="slcRegion" [(ngModel)]="filter.CodigoRegion" #slcRegion="ngModel">
                            <option [ngValue]="undefined" selected>Seleccione...</option>
                            <option *ngFor="let region of listaRegiones" [ngValue]="region.Id">{{region.Nombre}}</option>
                        </select>
                    </div>


                    <label class="col-lg-2 control-label" for="accion">Código Producto:</label>
                    <div class="col-lg-4">
                        <select class="form-select-control m-b" id="slcProducto" name="slcProducto" [(ngModel)]="filter.CodigoProducto" #slcProducto="ngModel">
                            <option [ngValue]="undefined" selected>Seleccione...</option>
                            <option *ngFor="let producto of listaProductos" [ngValue]="producto.Id">{{producto.Nombre}}</option>
                        </select>
                    </div>

                    <div class="col-lg-12 m-b">
                        <button class="btn btn-w-m btn-success btn-sm" (click)="Generar();">
                            <i class="fa fa-search"></i> Generar Reporte
                        </button>
                    </div>


                </fieldset>
            </form>
        </div>
    </div>
</div>