<div class="col-xs-12 no-padding m-t-xs m-b-sm">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h5 class="panel-title">Reporte Facturas Emitidas</h5>
        </div>
        <div class="panel-body">
            <form #reporteFacturasEmitidasForm="ngForm">
                <fieldset class="col-lg-12 m-b">


                    <legend class="info">Fechas</legend>
                    <div class="col-md-12 col-xs-12">
                        <label class="col-md-3 col-xs-5">Fecha Desde:</label>
                        <span class="col-md-3 col-xs-7">
                            <datetime class="heigth25 col-lg-12 no-padding" name="fechaInicio" [timepicker]="false" id="fechaInicio" [(ngModel)]="filter.FechaDesde"
                                [datepicker]="datepickerOpts" required #fechaInicio="ngModel"> </datetime>
                            <div [hidden]="fechaInicio.valid || fechaInicio.pristine" class="error">
                                <p *ngIf="fechaInicio.errors?.required">El campo es requerido</p>
                            </div>

                        </span>
                        <label class="col-md-3 col-xs-5">Fecha Hasta:</label>
                        <span class="col-md-3 col-xs-7">
                            <datetime class="heigth25 col-lg-12 no-padding" name="fechaFin" [timepicker]="false" id="fechaFin" [(ngModel)]="filter.FechaHasta"
                                [datepicker]="datepickerOpts" #fechaFin="ngModel" [min]="filter.FechaDesde"></datetime>
                            <div [hidden]="fechaFin.valid || fechaFin.pristine" class="error">
                                <p *ngIf="fechaFin.errors?.required">El campo es requerido</p>
                                <p *ngIf="fechaFin.errors?.min">Verificar las fechas de Búsqueda</p>
                            </div>
                        </span>
                        <label class="col-md-3 col-xs-5">Filtro:</label>
                        <span class="col-md-3 col-xs-7">
                            <select required class="heigth25 col-lg-12 no-padding" id="filtro" name="filtro" [(ngModel)]="filter.TipoDocumento">
                                <option *ngFor="let res of opciones" [ngValue]="res.codigo">{{res.mensaje}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="col-lg-12 m-b">
                        <button class="btn btn-w-m btn-success btn-sm" type="submit" [disabled]="!reporteFacturasEmitidasForm.form.valid" (click)="Generar();">
                            <i class="fa fa-search"></i> Generar Reporte
                        </button>
                    </div>


                </fieldset>
            </form>
        </div>
    </div>
</div>